.page-main {
    #wrap {
        .section-visual {
            margin: 0 auto;
            max-width: 100%;
            padding-right: 0;
            padding-left: 0;
        }
        .section-video {
            .video-box {
                position: relative;
                max-width: 640px;
                margin: 0 auto;
                @include breakpoint(desktop){
                    width: 900px;
                    max-width: none;
                    height: 463px;
                }
                iframe {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    @include breakpoint(desktop){
                        position: static;
                    }
                }
            }
        }
        .section-bbs {
            .bbs-box {
                text-align: left;
                @include boxSizing(border-box);
                & + .bbs-box {
                    @include rem(margin-top, 120px);
                    @include breakpoint(desktop){
                        margin-top: 0;
                    }
                }
                @include breakpoint(desktop){
                    float: left;
                    width: 50%;
                    &:first-child { padding-right: 30px; }
                    &:last-child { padding-left: 30px; }
                }
            }
            .bbs-title {
                @extend %clearfix;
                .heading {
                    float: left;
                    margin-top: 0;
                    @include breakpoint(desktop){
                        font-size: 34px;
                    }
                }
                .bbs-more {
                    position: relative;
                    float: right;
                    @include rem(margin-top, 15px);
                    padding-right: 15px;
                    @include vw(font-size, 28px);
                    font-weight: 700;
                    color: $color-1;
                    @include breakpoint(desktop){
                        font-size: 18px;
                    }
                    &:after {
                        @include arrow(right, 4px, 4px, 2px, $border-color-1);
                        right: 2px;
                        @include breakpoint(desktop){
                            width: 8px;
                            height: 8px;
                            margin-top: -4px;
                        }
                    }
                }
            }

            .bbs-list {
                @include rem(margin-top, 60px);
                border-bottom: 1px solid $border-color-1;
                @include breakpoint(desktop){
                    margin-top: 30px;
                }
                li {
                    border-top: 1px solid $border-color-1;
                    a {
                        @extend .grid;
                        display: block;
                        @include rem(padding, 30px 0);
                        @extend %textEllipsis;
                        span {
                            &.subject {
                                display: block;
                                width: 100%;
                                @include vw(font-size, 30px);
                                color: $color-5;
                                @extend %textEllipsis;
                                @include breakpoint(desktop){
                                    font-size: 18px;
                                }
                                &:nth-child(1):nth-last-child(2) {
                                    @extend .col;
                                    width: 80%;
                                }
                            }
                            &.date {
                                @extend .col-right;
                                width: 20%;
                                margin: 1% 0;
                                @include vw(font-size, 22px);
                                color: $color-4;
                                @include breakpoint(desktop){
                                    margin: 3px 0;
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}