@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200..900&display=swap');

@font-face {
  font-family: 'Wemakeprice';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Wemakeprice-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'GmarketSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 900;
	font-display: swap;
	src: url('../fonts/Pretendard-Black.woff2') format('woff2'), url('../fonts/Pretendard-Black.woff') format('woff');
  }
  
  @font-face {
	font-family: 'Pretendard';
	font-weight: 800;
	font-display: swap;
	src: url('../fonts/Pretendard-ExtraBold.woff2') format('woff2'), url('../fonts/Pretendard-ExtraBold.woff') format('woff');
  }
  
  @font-face {
	font-family: 'Pretendard';
	font-weight: 700;
	font-display: swap;
	src: url('../fonts/Pretendard-Bold.woff2') format('woff2'), url('../fonts/Pretendard-Bold.woff') format('woff');
  }
  
  @font-face {
	font-family: 'Pretendard';
	font-weight: 600;
	font-display: swap;
	src: url('../fonts/Pretendard-SemiBold.woff2') format('woff2'), url('../fonts/Pretendard-SemiBold.woff') format('woff');
  }
  
  @font-face {
	font-family: 'Pretendard';
	font-weight: 500;
	font-display: swap;
	src: url('../fonts/Pretendard-Medium.woff2') format('woff2'), url('../fonts/Pretendard-Medium.woff') format('woff');
  }
  
  @font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	font-display: swap;
	src: url('../fonts/Pretendard-Regular.woff2') format('woff2'), url('../fonts/Pretendard-Regular.woff') format('woff');
  }
  
  @font-face {
	font-family: 'Pretendard';
	font-weight: 300;
	font-display: swap;
	src: url('../fonts/Pretendard-Light.woff2') format('woff2'), url('../fonts/Pretendard-Light.woff') format('woff');
  }
  
  @font-face {
	font-family: 'Pretendard';
	font-weight: 200;
	font-display: swap;
	src: url('../fonts/Pretendard-ExtraLight.woff2') format('woff2'), url('../fonts/Pretendard-ExtraLight.woff') format('woff');
  }
  
  @font-face {
	font-family: 'Pretendard';
	font-weight: 100;
	font-display: swap;
	src: url('../fonts/Pretendard-Thin.woff2') format('woff2'), url('../fonts/Pretendard-Thin.woff') format('woff');
  }

@font-face {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 300;
    src: local("Noto Sans Light"), local("NotoSans-Light"),
    url("../fonts/NotoSansKR-Light.eot"),
    url("../fonts/NotoSansKR-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/NotoSansKR-Light.woff2") format("woff2"),
    url("../fonts/NotoSansKR-Light.woff") format("woff")
}
@font-face {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 400;
    src: local("Noto Sans Regular"), local("NotoSans-Regular"),
    url("../fonts/NotoSansKR-Regular.eot"),
    url("../fonts/NotoSansKR-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/NotoSansKR-Regular.woff2") format("woff2"),
    url("../fonts/NotoSansKR-Regular.woff") format("woff")
}
@font-face {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 500;
    src: local("Noto Sans Medium"), local("NotoSans-Medium"),
    url("../fonts/NotoSansKR-Medium.eot"),
    url("../fonts/NotoSansKR-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/NotoSansKR-Medium.woff2") format("woff2"),
    url("../fonts/NotoSansKR-Medium.woff") format("woff")
}
@font-face {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 700;
    src: local("Noto Sans Bold"), local("NotoSans-Bold"),
    url("../fonts/NotoSansKR-Bold.eot"),
    url("../fonts/NotoSansKR-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/NotoSansKR-Bold.woff2") format("woff2"),
    url("../fonts/NotoSansKR-Bold.woff") format("woff")
}
@font-face {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 900;
    src: local("Noto Sans Black"), local("NotoSans-Black"),
    url("../fonts/NotoSansKR-Black.eot"),
    url("../fonts/NotoSansKR-Black.eot?#iefix") format("embedded-opentype"),
    url("../fonts/NotoSansKR-Black.woff2") format("woff2"),
    url("../fonts/NotoSansKR-Black.woff") format("woff")
}