.popup-dim{
    position: fixed;
    top: 0; 
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1002;
    background-color: rgba( 0, 0, 0, .7);
}


.popup{
	display:none;
	justify-content: center;
	align-items: center;
	background-color:rgba(0,0,0,0.8);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1003;
	&.show{display:flex;}


	&-wrap{
		position:relative;
		width:100%;
		@include vw(width,640px);
		@include vw(padding,30px);
		background-color:#fff;
		@include vw(border-radius,20px);
		box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
		border: 2px solid rgba(235, 0, 139, 1);
		@include boxSizing(border-box);
		@include breakpoint(maxMobile){
			@include vw(width,490px);
		}
	}

	&-close{
		@include close(40px, 40px, 2px, rgba(235, 0, 139, 1));font-size:0;
		@include vw(top,15px);
		@include vw(right,15px);
		@include breakpoint(MaxMobile){
			@include close(60px, 60px, 2px, $color-pink);
			top: 0px;right: 0px;
		}
	
		z-index: 10002;
		&.white{
			&:before, &:after{background-color:#fff;}
		}
	}	

	&.wide{
		display:none;
	    position: absolute;
		right:auto;
		left: 50%;
		top: 0;
		bottom:auto;
		z-index: 300;
		width: 90%;
		max-width: 600px;
		margin: 0 auto;
		font-family: $font-noto;
		@include translateX(-50%);
		@include boxSizing(border-box);
		z-index: 1003;
		border-radius: 30px;
			
		@include breakpoint(minDesktop){
			width:auto;
			max-width: 100%;
			border-radius: 38px;
		}


	}

	&-title{
		@include vw(padding-top,40px);
		color:#1E292D;
		@include vw(font-size, 24px);
		font-weight:700;
		text-align:center;

	}

	&-cont{
		background-color:#fff;
		@include boxSizing(border-box);
		@include vw(padding,24px 40px 0);
	}

	&-btn{
		@include vw(margin-top,40px);
		text-align:center;
		display:flex;
		a {
			display: inline-block;
			@include vw(font-size, 14px);
			@extend %variable;
			&:first-child{
				@include vw(border-bottom-left-radius,15px);
			}

			&:last-child{
				@include vw(border-bottom-right-radius,15px);
			}
			
			@include vw(padding, 16px 0);
			margin: 0 auto;
			font-weight: 700;
			text-align: center;
			color: #fff;
			background-color: #29272b;
		 }
	}

}