%scrollBar{
	/* width */
	&::-webkit-scrollbar {
		width: 8px; height: 8px; 
	}
	
	&::-webkit-scrollbar-button:start:decrement,
	&::-webkit-scrollbar-button:end:increment { display: block; width: 0; height: 0; background-color: #F2EFE7; }

	/* Track */
	&::-webkit-scrollbar-track {
		background: #fff;
		border-radius: 4px;
	}
	
	/* Handle */
	&::-webkit-scrollbar-thumb {
		background-color: #F2EFE7; 
		border-radius: 4px;
	}
	
	/* Handle on hover */
	&::-webkit-scrollbar-thumb:hover {
		//background: #555;
	}
}

.popup-dim{
    position: fixed;
    top: 0; 
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1002;
    background-color: rgba( 0, 0, 0, .6);
}

.popup{
	display:none;
	justify-content: center;
	align-items: center;
	background-color:rgba(0,0,0,0.6);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1003;
	&.show{display:flex;}


	&-wrap{
		position:relative;
		background-color:$color-white;
		@include vw(width,600px);

	}

	&-close{
		@include close(40px, 40px, 1px, $color-black);
		font-size:0;
		@include vw(top,5px);
		@include vw(right,10px);
		z-index: 10002;

		&.white{
			&:before, &:after{background-color:#fff;}
		}
	}	

	&.wide{
		display:none;
		position: absolute;
		right:auto;
		left: 50%;
		top: 0;
		bottom:auto;
		z-index: 300;
		width: 90%;
		max-width: 600px;
		margin: 0 auto;
		font-family: $font-noto;
		@include translateX(-50%);
		@include boxSizing(border-box);
		z-index: 1003;
		border-radius: 30px;
			
		@include breakpoint(minDesktop){
			width:auto;
			max-width: 100%;
			border-radius: 38px;
		}


	}

	&-title{
		@include vw(padding,12px 24px);
		color:$color-black;
		@include vw(font-size, 16px);
		@include vw(line-height, 27.2px);
		font-weight:600;
		text-align:left;
		background-color:$color-light-brown2;
		border-bottom:1px solid $color-light-brown;
		dl{
			display:flex;
			dt,dd{@include vw(font-size, 14px);	@include vw(line-height, 23.8px);font-weight:400;}
			dt{@include vw(width,48px);font-weight:600;}
			dd{@include vw(margin-left,20px);}
		}

	}

	&-text{
		color:$color-black;
		@include vw(font-size,16px);
		@include vw(line-height,27.2px);
		text-align:center;
		font-weight:400;
		font-family: $font-pretendard;
		@include boxSizing(border-box);
	}


	&-scroll{
		@include boxSizing(border-box);
		@include vw(max-height,600px);
		overflow-y:auto;

		@extend %scrollBar;
	}

	&-cont{
		@include vw(padding,24px);
		color:$color-black;
		@include vw(font-size,14px);
		@include vw(line-height,23.8px);
		text-align:left;
		font-weight:400;
		font-family: $font-pretendard;
		.box{
			@include vw(margin-bottom,60px);
			&:last-child{margin-bottom:0;}

			.table-row{
				margin-top:20px;
				th,td{
					padding: 8px 12px !important;
					@include vw(font-size,13px);
					@include vw(line-height,22.1px);
				}
				&+p{
					@include vw(margin-top, 20px);
				}
			}

			.upload-img{
				margin-top:20px;
				margin-bottom:20px;
				img{
					width:100%;
				}
			}
		}
		.heading{@include vw(margin-bottom,20px);	@include vw(font-size,16px);font-weight:600;line-height:1;}
		.border-line{
			@include vw(padding-bottom,20px);
			@include vw(margin-bottom,40px);
			border-bottom:1px solid $color-light-brown;
		}
	}

	&-action{
		@include vw(margin-top,24px);
		justify-content: center;
		display:flex;
		a {
			display:flex;
			justify-content: center;
			align-items: center;
			@include vw(font-size, 14px);
			@include vw(border-radius,2px);	
			@include vw(width, 73px);
			@include vw(height, 40px);
			color:$color-white;
			background-color:$color-brown;
			@include vw(margin,0 4px);	
			&.popup-cancel{
				background-color:$color-light-gray;
			}
		}
	}

}

#popupAlert1, #popupAlert2{
	.popup-wrap{
		@include vw(border-radius,8px);
		@include vw(width,376px);
		@include vw(padding,36px);
		@include boxSizing(border-box);
	}
}


#popupLayerVideo{
	.popup{
		&-wrap{
			width:100%;
			max-width:720px;
			@include breakpoint(maxMobile){
				width:100%;
				max-width:720px;
			}
		}
		&-close{
			@include close(60px, 60px, 2px, #fff);
			top: -10px;
			right:-40px;
			z-index: 10002;
			@include breakpoint(maxMobile){
				top: -20px;
				right:-60px;
			}
		}
		&-content{
			position: relative;
			padding-bottom: 56.25%;
			height: 0;
			width:100%;

			iframe, video{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height:100%;
				object-fit: inherit;
			}
			min-height:auto;
			@include breakpoint(maxMobile){
				min-height:auto;
			}
		}
	}

	&.shorts{
		.popup{
			&-wrap{
				@include vw(max-width,480px);
				@include breakpoint(maxMobile){
					max-width:320px;
				}
			}

			&-close{
				@include breakpoint(maxMobile){
					right:-18px;
				}
			}

			&-content{
				padding-bottom: 177.777%;
			}
		}
	}
}

#popupProfile{
	.box{
		margin-bottom:20px;
	}

	.border-line{
		@include vw(margin-bottom,20px);
	}
}


#popupBookInfo{
	.border-line{
		@include vw(margin-bottom,20px);
	}
	.desc-box{
		display:flex;
		align-items:center;
		margin-bottom:20px;
		.book-img{
			display:flex;
			justify-content:center;
			align-items: center;
			background-color:$color-light-brown2;
			@include vw(width, 168px);@include vw(height, 168px);
			overflow:hidden;
			
			img{
				width:100%;
				height:100%;
			}

			&+.book-desc{margin-left:20px;}
		}

		.book-desc{
			text-align:left;
			.desc-title{
				position:relative;
				display:inline-block;
				font-size:18px;
				color:$color-black;
				font-weight:600;
				line-height:27px;
			}

			.desc-info{
				font-size:14px;
				color:$color-black;
				line-height:23.8px;
				margin-top:20px;
				p{
					margin-top:4px;
					font-weight:400;
					&:first-child{margin-top:0;}
					span{
						display:inline-block;
						width:64px;
						text-align:left;
					}
					strong{
						display:inline-block;
						font-weight:600;
					}
				}
			}

			.desc-price{
				display:flex;
				align-items:center;
				margin-top:24px;
				.price-subject{width:64px;font-size:14px;}
				.price-box{
					.badge{margin-right:8px;padding: 3px 4px;font-size:11px;}
					.price-before, .price-after{font-size:14px;}
				}
			}
		}


	}

}