.dim {
    display: none;
    position: fixed;
    top: 0; 
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba( 0, 0, 0, .7);
	//background-color:#fff;
}

.popup-dim{
    position: fixed;
    top: 0; 
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1002;
    background-color: rgba( 0, 0, 0, .7);
}


.popup{
	display:none;
	justify-content: center;
	align-items: center;
	background-color:rgba(0,0,0,0.8);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1003;
	&.show{display:flex;}


	&-wrap{
		position:relative;
		width:100%;
		@include vw(width,640px);
		@include vw(padding,30px);
		background-color:$color-lightpink;
		@include vw(border-radius,20px);
		box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
		border: 2px solid rgba(235, 0, 139, 1);
		@include boxSizing(border-box);
		@include breakpoint(maxMobile){
			@include vw(width,490px);
		}
	}

	&-close{
		@include close(40px, 40px, 2px, $color-pink);font-size:0;
		@include vw(top,15px);
		@include vw(right,15px);
		@include breakpoint(MaxMobile){
			@include close(60px, 60px, 2px, $color-pink);
			top: 0px;right: 0px;
		}
	
		z-index: 10002;
		&.white{
			&:before, &:after{background-color:#fff;}
		}
	}	

	&.wide{
		display:none;
	    position: absolute;
		right:auto;
		left: 50%;
		top: 0;
		bottom:auto;
		z-index: 300;
		width: 90%;
		max-width: 600px;
		margin: 0 auto;
		font-family: $font-noto;
		@include translateX(-50%);
		@include boxSizing(border-box);
		z-index: 1003;
		border-radius: 30px;
			
		@include breakpoint(minDesktop){
			width:auto;
			max-width: 100%;
			border-radius: 38px;
		}


	}

	// &-title{
	// 	@include vw(padding-top,40px);
	// 	color:#1E292D;
	// 	@include vw(font-size, 24px);
	// 	font-weight:700;
	// 	text-align:center;

	// }

	// &-cont{
	// 	background-color:#fff;
	// 	@include boxSizing(border-box);
	// 	@include vw(padding,24px 40px 0);

		
	// }

	&-input{
		input.text{width:82% !important;}
	}

	&-btn{
		@include vw(margin-top,40px);
		text-align:center;
		display:flex;
		a {
			display: inline-block;
			@include vw(font-size, 14px);
			@extend %variable;
			&:first-child{
				@include vw(border-bottom-left-radius,15px);
			}

			&:last-child{
				@include vw(border-bottom-right-radius,15px);
			}
			
			@include vw(padding, 16px 0);
			margin: 0 auto;
			font-weight: 700;
			text-align: center;
			color: #fff;
			background-color: #29272b;
		 }
	}

	&-tit{
		color: rgba(0, 0, 0, 1);
		font-weight:700;
		@include vw(font-size, 30px);
		line-height:1;
		@include breakpoint(maxMobile){
			@include vw(font-size, 20px);
		}
	}

	&-cont{
		@include vw(margin-top, 20px);
		dl{
			display:flex;@include vw(margin-top, 8px);
			&:first-child{margin-top:0;}
			dt{	
				@include vw(width, 104px);@include vw(margin-right, 20px);
				@include breakpoint(maxMobile){
					@include vw(width, 52px);@include vw(margin-right, 10px);
				}
			}
			dd{
				color: rgba(0, 0, 0, 1);font-weight:500;
				@include vw(font-size, 24px);
				@include breakpoint(maxMobile){
					@include vw(font-size, 16px);
				}
			}
		}

		
	}
}




#popupRequest{
	.popup-wrap{
		@include boxSizing(border-box);
		@include vw(width, 640px);
		@include vw(padding, 84px 30px 60px);
		border-radius: 30px;
		@include breakpoint(minDesktop){
			border-radius: 38px;
			@include vw(padding, 84px 64px 60px 65px);
		}
		box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.16);
		background-color: #ebfbff;

		.popup-title{position:absolute;left:50%;@include vw(top,-93px);transform:translateX(-50%);@include vw(width, 622px);}

		.popup-main-text{
			text-align:center;color:#000;letter-spacing:-0.5px;font-weight:500;font-family:$font-noto;
			@include vw(font-size, 26px);
			@include breakpoint(maxMobile){font-size: 20px;}
		}
		.popup-sub-text{
			text-align:center;color:#0f78c4;margin-top:5px;letter-spacing:-0.5px;
			@include vw(font-size, 24px);
			@include breakpoint(maxMobile){font-size: 16px;}
		}

		.join-1{@include vw(margin-bottom, 25px);}
		.join-2{@include vw(margin-top, 25px);}

		.form-title{
			text-align:center;color:#000;font-weight:700;letter-spacing:-0.5px;
			@include vw(font-size, 26px);@include vw(margin-top, 40px);
			@include breakpoint(maxMobile){font-size: 20px;}
		}

		.fake-checkbox {margin-top:10px;text-align:right;color:#0f78c4;font-weight:700;}
		.form-terms{border-width:0px;font-weight:500;font-family:$font-noto;}

		.form-list{
			display:flex;align-items:center;
			.form-text{
				margin-top:0;width:35%;padding-right:5px;font-weight:500;font-family:$font-noto;letter-spacing:-0.5px;
				@include vw(font-size, 26px);
				@include breakpoint(maxMobile){font-size: 20px;}
			}
			.form-control{
				width:65%;
				.text{background-color:#fff;border:none;border-radius:50px;padding:0 10px;@include vw(height, 40px);@include vw(line-height, 40px);}
			}
		}

		.popup-btn{
			@include vw(margin-top,50px);
			text-align:center;
			a {
				display: inline-block;
				@include vw(font-size, 24px);
				@include breakpoint(maxMobile){
					font-size:22px;
				}
				@include vw(width, 360px);
				@include vw(padding, 16px 0);
				margin: 0 auto;
				font-weight: 800;
				letter-spacing: -1.3px;
				text-align: center;
				color: #fff;
				background-color: #0f78c4;
			  }
		}
	}
}
