@charset "utf-8";

@import "abstracts/variables";
@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/extend";

@import "base/font"; // 웹폰트
@import "base/reset"; // 초기화

@import "web/popup"; // 팝업
@import "web/common"; // 공통
@import "web/layout"; // 웹
@import "web/search"; // 검색
@import "web/list"; // 리스트 공통
@import "web/lecture"; // 강좌/교재
@import "web/online"; // LEFT인강, 온라인 서점
@import "web/professor"; // 교수소개
@import "web/customer"; // 공지사항
@import "web/examInfo"; // 수험정보
@import "web/campus"; // 상상캠퍼스
@import "web/mypage"; // 마이페이지
@import "web/member"; // 회원가입
@import "web/player"; // 플레이어
@import "web/main"; // 메인
@import "web/error"; // 에러\
@import "web/promotion"; // pr
@import "web/teacher"; // 교수소개2
@import "web/report"; // 성적조회

@import "web/pass";; // 프리패스
@import "web/contents";; // 컨텐츠