#wrap{
	.section-online-slide + .section-campus-title{
		margin-top:120px;
	}

	.section-campus-content{
		//.lecture-data-list{margin-top:40px;}

		.tab-menu{
			width:100%;
			border-bottom:1px solid $color-light-brown;
			height:43px;
			margin-top:40px;
			ul{
				display:flex;
				li{
					margin-right:8px;
					width:auto !important;
					a{
						display:inline-block;
						padding: 4px 16px 16px;
						height:43px;
						font-size:15px;
						font-weight:400;
						line-height:22.5px;
						border:none;
						background-color:transparent;
					}
					&.active{
						a{
							background-color:$color-white;
							border-bottom:2px solid $color-black;
						}
					}
				}
			}
		}

		.btn-search{
			background-color:rgba(80, 75, 66, 1);

		}

		.tab-view{
			.lecture-data-list .course-list:first-child{border-top:none;}
			.select-box + .lecture-data-list .course-list:first-child,
			.category-box + .lecture-data-list .course-list:first-child{border-top:1px solid $color-light-brown;margin-top:40px;}
		}

		.campus-reservation{
			margin-top:80px;

			.notice-text{
				margin-top:10px;
				font-size:14px;line-height:23.8px;color:$color-black;font-weight:400;
				strong{font-weight:600;}
			}

			.campus-input-table{
				margin-top:20px;
				.table-row{
					tr{
						th{vertical-align:top;}
						td{
							.text{
								margin:10px 0;
								&.wide{width:280px;}
							}

							.input-box{
								.form-control{
									&+ .form-control{margin-left:8px;}
								}

								.custom-select{
									&+ .custom-select,
									&+ .form-control{margin-left:8px;}
								}

								.select{
									&+ .select,
									&+ .form-control{margin-left:8px;}

								}
			
								.input-text-start{width:80px;margin:0;}
								.text, .select, .custom-select{
									width:120px;margin:0;
								}
			
								.select, .custom-select{
									&.wide{
										width:160px;
									}
								}
			
								.text{
									&.medium{width:160px;}
									&.faculty{width:208px;}
								}
								
								
							}
			
							.flex-group{
								.input-box{
									margin-top:0;margin-right:36px;
									.input-text-start{width:auto;margin-right:8px;}
			
								}

								& + .input-box{margin-top:10px;}
								
							}
						}
					}
				}
			}

			.action{
				position:relative;
				margin-top:40px;
				.btn-online{
					position:absolute;left:0;top:0;
				}
			}

			.notice-list-table{
				.table-row{
					tr{
						th{font-weight:400;}
						td{
							.btn-reservation{
								font-weight:400;font-size:13px;margin-left:20px;
								&:hover{text-decoration:none;}
							}
							.reply{
								display:flex;
								justify-content: center;
								.status{display:inline-block;width:75px;color:$color-brown;margin-right:8px;font-weight:600;}
							}
						}
					}
				}
			}
		}

		.campus-reservation-result{
			margin-top:80px;
			background-color:$color-light-beige;
			height:480px;
			text-align:center;
			padding:128px 0;
			@include boxSizing(border-box);

			.result-text{font-size:24px;margin-bottom:20px;}
			.reservation-result-table{
				width:600px;margin:0 auto;
				th{text-align:left;}
				td{
					background-color:$color-white;text-align:left;
					span{display:inline-block;margin-right:20px;}
				}

				&+.action{margin-top:40px;}
			}


		}

		.campus-data-list{
			margin-top:40px;
		}

		.campus-data-view{
			h3{
				padding-bottom:32px;
			}
		}

		.campus-guide-view{
			margin-top:80px;
			.box{
				padding:40px 0 80px;
				border-top:1px solid $color-light-brown;
				display:flex;
				flex-wrap:wrap;
				.subject{
					width:270px;
					p{
						font-size:16px;font-weight:400;
						line-height:27.24px;
						color:$color-black;
					}
					strong{display:block;font-size:24px;line-height:40.8px;font-weight:600;margin-bottom:10px;color:$color-brown;}
					
				}
				
				.desc{
					width:788px;
					margin-left:auto;
				}
			}
		}

		.campus-map{
			padding-top:80px;
			.map-info{
				margin-top:30px;
				display:flex;
				justify-content: space-between;
				.transport{
					width:582px;
					display:flex;
					dl{
						display:flex;
						margin-left:36px;
						padding-right:34px;
						&:first-child{margin-left:0;}
						dt{width:60px;}
						dd{
							width:159px;
							margin-left:20px;
							strong{
								font-weight:600;color:$color-black;font-size:16px;
								line-height:27.2px;
								&.exit{
									font-size:14px;
									line-height:23.8px;
								}
							}

							p{
								margin-bottom:8px;
							}

							>div{
								display:flex;
								font-size:14px;
								line-height:23.8px;
								font-weight:400;
								.badge{
									color:$color-white;border:none;margin-right:8px;
									&.pink{background-color:#F6607B;}
									&.green{background: #61A855;}
									&.blue{background: #2B7DDD;}
									&.red{background: #EB5252;}
								}
							}
						}
					}
				}
			}
		}

		.campus-title{
			color:$color-black;
			font-size:28px;
			font-weight:600;
			line-height:42px;
			padding-bottom:16px;
		}

		.banner-slider{
			.slick-slide{
				width:1200px;
				height:480px;
				overflow:hidden;
				img{width:100%;height:100%;}
			}

			.list{
				a{display:block;}
			}
		}

		.campus-banner{
			&.offline-slide{
				margin-top:80px;
				margin-bottom:60px;
				.banner-slider{
					width:100%;
					.slick-slide{height:440px;}
					.slick-arrow {
						&.slick-prev, &.slick-next{top:0;}
					}
				}
			}

			&.twoBnner-slide{
				.banner-slider{
					.slick-slide{
						width:588px;height:160px;overflow:hidden;margin-right:24px;
					}
				}
			}
		}

		.campus-notice{
			margin-top:120px;
			display:flex;
			>div{
				width:570px;margin-left:60px;height:358px;overflow:hidden;
				&:first-child{margin-left:0;}
			}

			.campus-lecture-list{
				.banner-slider{
					width:100%;
					.slick-slide{
						height:300px;
					}
				}

				.lecture-data-list .course-list{
					.col{padding:19px 16px;}
					.desc-box {
						width:100%;
						.t-img{width:60px;height:60px;}
						.t-desc{
							margin-left:16px;width:462px;
							.desc-title{
								font-size:16px;line-height:27.2px;
								@extend %textEllipsis;
							}
						}
					}
				}
			}

			.campus-notice-list{
				.notice-list-table .table-row {
					
					tr{
						border-bottom:0;
						td{
							padding:0;line-height:1;
							padding-top:20px;font-size:14px;
						
							&.link{
								.badge{margin-right:8px;}
								a{
									font-size:14px;font-weight:400;@extend %textEllipsis;
									max-width:90%;line-height:23.8px;vertical-align:middle;
									.icon-new{top:-1px;}
								}
							}
							&.date{text-align:right;}
						}
					}
				}

				.action{
					a{
						background: $color-white url('../images/icon_arrow_right.svg') no-repeat 95% center;
						@include boxSizing(border-box);
						@include vw(width, 273px);
						justify-content: flex-start;
						margin-left:24px;padding:0 24px;
						&:first-child{margin-left:0;}
					}
				}
			}
		}

	}

	.section-campus-view{
		padding-bottom:40px;
		.img-box{
			img{width:100%;}
		}
	}
}