.dim {
    position: fixed;
    top: 0;
    left:0;
    right: 0;
    bottom: 0;
    z-index: map-get($z-index, dim);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
}

#wrap {
    line-height: 1.4;
    font-family: $font-pretendard;
    color: $color-black;
	font-weight:600;
	background-color:$color-white;

    h2{
        font-weight:600;
        font-size:60px;
        color:$color-black;
        text-align:center;
        line-height:90px;
        margin-bottom:24px;
    }

    h3{
        position:relative;
        font-weight:600;
        font-size:24px;
        color:$color-brown;
        text-align:left;
		line-height:40.8px;
        padding-bottom: 20px;
        .search-input-box{
            position:absolute;right:0;top:-4px;
            z-index:9;
        }
    }

	h4{
        position:relative;
        font-weight:600;
        font-size:20px;
        color:$color-brown;
        text-align:left;
		line-height:34px;
        padding-bottom: 20px;
    }

	h5{
        position:relative;
        font-weight:600;
        font-size:18px;
        color:$color-brown;
        text-align:left;
		line-height:1;
		margin-bottom:20px;
		
    }

	.dot{
		position: relative;
		@include vw(padding-left, 26px);
		text-align: left;
		&::before {
			content: '';
			position: absolute;
			top: 50%;
			left: 4px;
			margin-top:-4px;
			display: inline-block;
			width:8px;height:8px;
			background-color:$color-brown;
			border-radius:50%;
		}
	}

    .holder{
        &+.holder{margin-top:120px;}
    }

	.highlight {
        color: $color-brown !important;
    }

    .icon-new{
        display:inline-block;
        // background: rgba(160, 125, 59, 1);
        // color:#fff;
        // border-radius:4px;
        // padding:2.5px 4px 1.5px;
        // font-size:12px;
		 line-height:1;
        margin-left:4px;
		background: url('../images/icon_new.svg') no-repeat center top;
		width:16px;
		height:16px;
		font-size:0;
		vertical-align:middle;
    }

    .icon-lock{
        display:inline-block;
        margin-right:8px;
    }

	.text-left{text-align:left;}
	.text-center{text-align:center;}
	.text-right{text-align:right;}

    .linebreak {
        display:block;
        @include breakpoint(desktop){
            display:inline-block;
        }
    }

	.upload-img{
		img{max-width:100%;}
	}

    .slick-dots {
        width: 100%;
        @include vw(margin-top, 20px);
        text-align: center;
        li {
            display: inline-block;
            @include vw(margin, 0 6px);
            button {
                cursor: pointer;
                text-indent: -10000em;
                border: 0;
                border-radius: 50%;
                @include vw(width, 15px);
                @include vw(height, 15px);
                background-color: $color-3;
            }
            &.slick-active {
                button {
                    border-radius: 15px;
                    background-color: $color-1;
                }
            }
        }
    }

    .slick-arrow {
        @extend %slick-arrow;
        border-radius:50%;

        &.slick-prev{
            @include slideArrow(left, 64px, 64px, 1px, $color-black, $color-light-beige, $margin: 635px);
            &:before{
				width:8px;height:8px;
			}

			top:128px;
			transform: translateY(0);
        }
        &.slick-next{
           @include slideArrow(right, 64px, 64px, 1px, $color-black,$color-light-beige, $margin: 635px);
           &:before{
				width:8px;height:8px;
			}

			top:128px;
			transform: translateY(0);
        }
    }

    .nodata{
        background-color:$color-light-beige;
        padding:60px 0;
        text-align:center;
        width:100%;
        p{
            color:$color-gray;
            font-size:16px;
            font-weight:400;
        }
    }

	.badge{
		@include vw(font-size,11px);
		@include vw(padding, 3.5px 3.5px 2.5px);
		display:inline-block;
		@include vw(border-width, 1px);
        border-style: solid;
        @include vw(border-radius, 2px);
        background-color: $color-white;
        @include boxSizing(border-box);
		color:$color-black;
		border-color:$color-light-brown;
		line-height:1;
		font-weight:600;

		&.badge-brown{border-color:$color-brown;background-color: $color-brown;color:$color-white;}
		&.badge-light-brown{border-color:$color-light-brown2;background-color: $color-light-brown2;}
		&.badge-gray{border-color:$color-gray;background-color: $color-gray;color:$color-white;}
		&.badge-black{border-color:$color-black;background-color: $color-black;color:$color-white;}
		&.badge-light-gray{border-color:$color-light-gray;background-color: $color-light-gray;color:$color-white;}

		&+p{  @include vw(margin-top, 8px);}
	}

	.pagination {
        @include vw(margin-top, 60px);
		display:flex;
		justify-content: center;
        a {
            display: inline-block;
            text-align: center;
            @include vw(width, 34px);
            @include vw(height, 34px);
			@include vw(line-height, 34px);
            @include vw(margin, 0 2px);
			@include vw(font-size,13px);
			color: $color-black;
			font-weight:400;
			background-color:$color-white;
			border:1px solid $color-light-brown;
			@include vw(border-radius,2px);
            &.active, &:hover {
              border-color:$color-black;
            }
            &.control {
                position: relative;
                border:none;
                vertical-align: top;
                line-height: 1;
                &-prev{ @include arrow(left, 10px, 10px, 1.5px, $color-black); margin-right:14px;}
                &-next{ @include arrow(right, 10px, 10px, 1.5px, $color-black); margin-left:14px;}
                span { @extend .sr-only; }
            }
        }
    }

	.count-box {
		display:flex;
		width: 102px;
		overflow: hidden;
		border: 1px solid $color-light-brown;
		background-color: $color-white;

		.number {
			width: 38px;
			text-align: center;
			line-height: 30px;
			font-size: 13px;
			font-weight: 400;
			color:$color-black;

		}

		button {
			border:none;
			width: 32px;
			height: 32px;
			background-color: $color-white;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 32px;
			text-align:center;
			cursor:pointer;
			&.btn-minus {
				background-image: url("../images/icon_minus.png");
				border-right: 1px solid $color-light-brown;
			}
			&.btn-plus {
				border-left: 1px solid $color-light-brown;
				background-image: url("../images/icon_plus.png");
			}
		}
	}

    .search-input-box{
        width:160px;
        //margin:0 auto;
        .search-text{
            position:relative;
            input[type=text]{
                width:100%;
                border:1px solid $color-light-brown;
                height:48px;@include boxSizing(border-box);
                padding:0 42px 0 16px;
                color:$color-black;
                font-size:14px;
                font-weight:600;
                &::placeholder{
                    color:$color-light-gray;
                    font-size:14px;
                    font-weight:400;
                }
            }

            .search-input-action{
                position:absolute;right:8px;top:50%;z-index:10;
                width:32px;height:32px;margin-top:-16px;
                img{
                    width:100%;
                    height:100%;
                }
            }
        }

        .action{
            margin-top:16px;
            .btn{@include vw(width, 65px);@include vw(height, 30px);margin-left:8px;}
        }
    }

	.price-box{
		display:flex;
		justify-content: flex-end;
		align-items: center;
		.price-subject{color:$color-black;font-size:16px;font-weight:600;margin-right:24px;}
		.price-before{color:$color-light-brown;font-size:16px;font-weight:400;text-decoration: line-through;margin-right:8px;}
		.price-after{color:$color-brown;font-size:18px;font-weight:600;}
		&.total{
			.price-before{}
			.price-after{font-size:24px;}
		}
	}

	.tab-box {
        .tab-list, .tab-menu {
            ul{
                display:flex;
                li {
                    @extend %variable;
                        
                    a { 
                        display:flex;
                        justify-content: center;
                        align-items: center;
                        height:67px;
                        border:1px solid $color-light-brown;
                        background-color:$color-white;
                        font-weight:600;
                        font-size:18px;
                        color:$color-black;
						@include boxSizing(border-box);
                    }

                    &.active, &:hover{
                        a{
                            background-color:$color-light-brown2;
                        }
                    }
                }
            }
        }

		.tab-menu{
            position:relative;
            height:35px;
            margin-top:80px;
            ul{
                background-color:transparent;
                position:absolute;left:50%;right:0;top:0;z-index:10;
                transform:translateX(-50%); width:1200px;
               
                &.fixed{
                    position:fixed;
                }

                li{
                    a{
                        border:none;height:35px;
                        border-bottom:1px solid $color-light-brown;
                    }

                    &.active, &:hover{
                        a{
                            background-color:$color-white;
                            border-bottom:2px solid $color-black;
                        }
                    }
                }
            }
		}

        .tab-view {
            display: none;
            &.active { display: block; }
        }

        .tab-menu-small{
            display:flex;justify-content: center;align-items:center;
            .menu-title{ margin-left:40px;margin-right:16px;color:$color-brown;font-size:20px;font-weight:600;}
            ul{
                text-align:center;
                li {
                    margin:0 20px;
                    display:inline-block;
                    a { 
                        display:inline-block;
                        height:49px;
                        line-height:49px;
                        border-bottom:3px solid transparent;
                        font-weight:600;
                        font-size:24px;
                        color:$color-light-gray;
                        @include boxSizing(border-box);
                    }

                    &.active, &:hover{
                        a{
                            border-color:$color-black;
                            color:$color-black;
                        }
                    }
                }
            }
        }

        &.tab-slide{
            .tab-menu-slide{
                margin-top:56px;
                margin-bottom:20px;
                ul{
                    display:flex;
                    justify-content: flex-start;
                    li {
                        a { 
                            display:flex;
                            justify-content: center;
                            align-items: center;
                            font-weight:600;
                            font-size:24px;
                            color:$color-light-gray;
                            
                        }

                        position:relative;
                        margin-right:20px;padding-right:20px;
                        &:after{
                            content:'';
                            width:1px;
                            height:24px;
                            background-color:$color-light-brown;
                            position:absolute;right:0;top:50%;margin-top:-12px;

                        }
                        
                        &:last-child{
                            &:after{display:none;}
                        }
    
                        &.active{
                            a{
                                color:$color-brown;
                            }
                        }
                    }
                }
            }
            
        }
    }

    .category-box{
        background-color:$color-light-beige;
        padding:40px 40px 32px;
        .category-list{
            ul{
                display:flex;
                flex-wrap:wrap;
                li{
                    display:inline-block;margin-right:8px;
                    margin-bottom:8px;
                    a{padding:0 20px;display:flex;align-items:center;justify-content:center;border:1px solid $color-light-brown;background-color:$color-white;color:$color-black;font-size:14px;font-weight:400;height:40px;}

                    &.active, &:hover{
                        a{color:$color-white;background-color:$color-brown;border-color:$color-brown;}
                    }
                }
            }
        }
    }

	.form-control {
        // margin-left: 8px;
        // &:first-child { margin-left: 0; }
		font-size:0;
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            margin: 0;
            -webkit-appearance: none;
            appearance: none;
        }
        input[type="number"] { -moz-appearance: textfield; }

        .fake-checkbox {
			// margin-top:8px;
			// &:first-child{margin-top:0;}
            label {
                display: inline-block;
                @include vw(padding-left, 30px);
                background: url('../images/icon_checkbox_check.svg') no-repeat left center;
                background-size: auto 100%;
                cursor: pointer;
				font-weight:400;
				font-size:14px;

            }
            input {
                @extend .sr-only;
                &:checked + label { background-image: url('../images/icon_checkbox_checked.svg'); }
            }
        }

		.fake-radio {
            @include vw(margin-right, 36px);
            label {
				display: inline-block;
				vertical-align:middle;
                @include vw(padding-left, 30px);
                background: url('../images/icon_radio_check.svg') no-repeat left center;
                background-size: auto 100%;
                cursor: pointer;
				font-weight:400;
				font-size:14px;

            }
            input {
                @extend .sr-only;
                &:checked + label { background-image: url('../images/icon_radio_checked.svg'); }

                // &.disable + label{
                //     background-image: url('../img/common/icon_radio_disable.png'); 
                // }
            }
        }

        .select {
            display: inline-block;
            font-size: 0;
			// margin-left: 8px;
            // &:first-child { margin-left: 0; }
            background: url('../images/icon_select_arrow.svg') no-repeat 98% center;
            background-size: 24px 24px;
            width:100%;
            select {
                width: 100%;
                height:40px;
                @include vw(padding, 8px 16px 8px 16px);
                @include vw(font-size,14px);
                font-weight:400;
                border: 1px solid rgba(228, 222, 211, 1);
                color: $color-black; 
                -webkit-appearance: none;
                appearance: none;
                font-family:$font-pretendard;
                @include boxSizing(border-box);
                &::-ms-expand { display: none; }
                &::placeholder { color: $color-black; }
               
            }
        }

        .text {
            display:inline-block;
			width:100%;
            @include vw(padding, 8px 8px 8px 16px);
            @include vw(font-size, 14px);
            border: 1px solid rgba(228, 222, 211, 1);
            background: #fff;
            @include boxSizing(border-box);
            color:$color-black;
            height:40px;
            &::placeholder { color: $color-light-gray; }
        }

        .textarea {
            width: 100%;
            @include vw(height, 396px);
            @include vw(padding, 16px);
            @include vw(font-size,14px);
            font-weight:400;
            @include vw(line-height,23.8px);
            @include vw(border-width, 1px);
            border-style: solid;
            border-color: $color-light-brown;
            resize: none;
            @include boxSizing(border-box);
            color:$color-black;
            font-family:$font-pretendard;
            &::placeholder { color: $color-light-gray;@include vw(font-size,14px);font-weight:400; }
           
        }
		
        .fake-file-box {
            @extend %clearfix;
			position:relative;
			width:360px;
            .fake-file-name {
				width:100%;
				border:1px solid $color-light-brown;
				@include vw(padding, 9px 80px 9px 16px);
            }
            .fake-file {
				position:absolute;right:16px;
				top: 50%;
				transform: translateY(-45%);
                input[type="file"] { @extend .sr-only; }
                label {
					display:inline-block;
                    @include vw(padding,5.5px 5px);
                    text-align: center;
                    @include vw(font-size,13px);
                    color: $color-black;
					border:1px solid $color-light-brown;
                    cursor: pointer;
					font-weight:400;
					border-radius:2px;
					line-height:1;
                   
                }
            }
        }
    }

	.file-list-box{
		display:flex;
		align-items: center;
		.btn.btn-file{margin-bottom:0;}
	}

    .select-box{
        background-color:$color-light-beige;
        display:flex;
        justify-content: center;
        align-items: center;
        padding:40px 40px 40px;
        .btn-search{
            @include vw(width, 55px);@include vw(height, 40px);
        }

        .select{
			background-position:97% center;
			background-color:#fff;
            width: 280px;
			&.small{width:160px;}
			margin-right:8px;
			&:last-child{margin-right:0;}
        }

		.text {
			width: 280px;
		}

        .select-text{
            font-size:14px;font-weight:400;color:$color-black;
			margin-right:8px;
			&+.form-control .select{background-color:transparent;}
        }
        
        &.flex-end{padding:20px 0;justify-content: flex-end;background-color:transparent;}
		&.flex-start{padding:0;justify-content: flex-start;background-color:transparent;}

    }

	.input-box{
		display:flex;align-items:center;
		.text {width: 280px;}
		.form-control + .form-control{margin-left:20px;}
		&+.input-box{margin-top:10px;}

		.input-text-start{
			font-size:14px;
			font-weight:400;
			color:$color-black;
			margin-right:20px;
		}

		.input-text-end{
			font-size:14px;
			font-weight:400;
			color:$color-black;
			margin-left:10px;
		}
	}

	.file-box{
		display:flex;align-items:center;
		.form-text{margin-left:20px;}

		&+.file-list-box{margin-top:20px;}
	}

	.box-group{
		display:flex;align-items:center;
	}

	.radio-box{
		display:flex;align-items:center;
	}

	.agree-check-box{
		margin-top:20px;
		&:first-child{margin-top:0;}
		.agree-box{
			height:120px;
			overflow-y:auto;
			@extend %scrollBar;
			padding:20px;
			@include boxSizing(border-box);
			color:$color-black;
			font-size:14px;
			font-weight:400;
			line-height:23.8px;
			margin-bottom:10px;
			border:1px solid $color-light-brown;
		}
	}

	.editor-box{
		height:480px;
		overflow-y:auto;
		@extend %scrollBar;
		img{max-width:100%;}
	}

	.checkbox-box{
		display:flex;align-items:center;
		.fake-checkbox{margin-top:0; @include vw(margin-right, 36px);}
	}

	.toggle-box{
        border-top:1px solid $color-light-brown;
		dl{
			text-align:left;
            dt,dd{padding:20px 24px;}
			dt{
                cursor:pointer;position:relative;z-index:2;border-bottom:1px solid $color-light-brown;
                p{
                    color:$color-black;font-weight:600;font-size:16px;
                    .subject{width:80px;margin-right:36px;display:inline-block;font-weight:400;font-size:14px;}
                }

                .icon-arrow{position:absolute;right:24px;top:50%;margin-top:-12px;}
            }

			dd{
                display:none;
                background-color:$color-light-brown2;
                padding:32px 40px;
                line-height:27.2px;
                font-size:16px;
                font-weight:400;
                color:$color-black;

            }
			&.unfold{
				dt{
                    .icon-arrow{transform:rotateZ(180deg);}
                }
				dd{display:block;}
			}
		}
	}


	.form-text{ font-size:14px;font-weight:400;color:$color-gray;}

	.table-row{
		width:100%;
		border-top:1px solid $color-light-brown;
		tr{
			border-bottom:1px solid $color-light-brown;
			th,td{
				padding:16px 20px;
				text-align:center;
				color:$color-black;
				@include vw(font-size,14px);
				@include vw(line-height,23.8px);
				font-weight:400;
			}

			th{background-color:$color-light-brown2;font-weight:600;}
			td{
                padding:20px;
                &.link{
                    text-align:left;
                    a{
						position:relative;
                        display:inline-block;
                        font-weight:600;font-size:16px;
						line-height:27.2px;
                        //border-bottom:2px solid transparent;
                        &:hover{
							text-underline-offset: 5px;
							text-decoration: underline solid 2px;
						

							//border-bottom:2px solid $color-black;
                        }

						
                    }
                }
			}
		}

	}

    .notice-list{
        li{
            color:$color-black;
            font-size:14px;
            font-weight:400;
            line-height:23.8px;
        }
    }
	
	.notice-title{
		color:$color-black;
		font-size:16px;
		font-weight:600;
		line-height:27.2px;
		margin-bottom:10px;
	}

	.notice-text{
		color:$color-black;
		font-size:16px;
		font-weight:400;
		line-height:27.2px;
	}

    .notice-list-table{
        .table-row{
            td{
                .icon-lock, .icon-new{position:relative;top:-2px;}
                .icon-new{margin-left:8px;}

                &.date, &.reply, &.time{
                    color:$color-gray;
                }

                &.end{
                    color:$color-brown;
                    font-weight:600;
                }
            }
        }
    }

	.border-left-line{
		border-left:1px solid $color-light-brown;
	}

    .notice-view-table{
        .table-row{
			&.table-row-center{
				th,td{
					text-align:center;border-left:1px solid $color-light-brown;
					&:first-child{border-left:none;}
				}
			}

            th,td{text-align:left;}
            th{
                padding:20px;font-weight:400;color:$color-gray;
                &:last-child{text-align:center;}
                &.title{font-size:16px;font-weight:600;color:$color-black;}
                &.date, &.reply{
                    color:$color-gray;
                }

                &.end{
                    color:$color-brown;
                    font-weight:600;
                }

                
            }

            td{
                font-weight:600;
                &.editor{
                    padding:40px 20px;
                    font-size:16px;line-height:27.2px;
                    font-weight:400;
					img{max-width:100%;}
                    .study-info{
                        padding-bottom:20px;
                        margin-bottom:36px;
                        border-bottom:1px solid $color-light-brown;
                        dl{
                            display:flex;margin-top:8px;
                            &:first-child{margin-top:0;}
                            dt,dd{font-weight:400;font-size:13px;line-height:22.1px;}
                            dt{width:64px;}
                            dd{
                                font-weight:600;color:$color-brown;
                                &+dt{
                                    position:relative;
                                    padding-left:16px;margin-left:16px;
                                    &:after{
                                        content:'';
                                        width:1px;
                                        height:12px;
                                        background-color:$color-light-brown;
                                        position:absolute;left:0;top:50%;margin-top:-6px;
            
                                    }
                                }
                            }
                        }
                    }
                }

                &.download{
                    padding:20px 20px 12px;
                }

               
                
            }
        }

        
    }

	.notice-input-table{
		.table-row{
            th,td{text-align:left;padding:20px;}
			td{border-left: 1px solid #E4DED3;}
            .select{width:600px;background-color:transparent;}
			.text{background-color:transparent;}
		}
	}

    .answer-table{
        margin-top:60px;
        .table-row{
            th{color:$color-gray;}
            td{background-color:$color-light-brown2;}
        }
    }

	.grid{
		width:100%;
		display:flex;
		justify-content: flex-start;
		align-items: center;
		
		border-bottom:1px solid $color-light-brown;
		&:first-child{
			border-top:1px solid $color-light-brown;
		}
		.col{
			@include vw(padding, 32px 20px);
			text-align:center;
			color:$color-black;
			@include vw(font-size,14px);
			@include vw(line-height,23.8px);
			font-weight:400;
			@include boxSizing(border-box);
			
		}
	}

	.btn {
        position: relative;
		display:flex;
		align-items: center;
		justify-content: center;
		width:auto;
        @include vw(padding,0 5px);
		@include vw(height, 26px);
        @include vw(font-size,13px);
		line-height:1;
        font-weight: 400;
        @include vw(border-width, 1px);
        border-style: solid;
        @include vw(border-radius, 2px);
        background-color: $color-white;
        @include boxSizing(border-box);
		color:$color-black;
		border-color:$color-light-brown;
		@include vw(margin-left, 8px);
		&:first-child{margin-left:0;}
		strong{font-weight:600;}

		&.btn-brown{border-color:$color-brown;background-color: $color-brown;color:$color-white;}
		&.btn-gray{border-color:$color-light-gray;background-color: $color-light-gray;color:$color-white;}
		&.btn-black{border-color:$color-black;background-color: $color-black;color:$color-white;}

		&.large{width:auto;@include vw(padding,0 40px);@include vw(height, 56px); @include vw(font-size,14px);}

		&.btn-link{
			display:inline-block;@include vw(margin-left, 8px);
			@include vw(padding,0 16px);@include vw(height, 38px);@include vw(line-height, 38px);
		}

		&.btn-video{
			display:block;
			background: $color-white url('../images/icon_play_arrow.svg') no-repeat 8px center;
			@include boxSizing(border-box);
			@include vw(width, 87px);@include vw(height, 38px); 
			@include vw(line-height, 38px); 
			@include vw(padding-left,32px);
		}

        &.btn-file{
			display:inline-block;
			background: $color-light-beige;
			@include boxSizing(border-box);
			width:auto;@include vw(height, 38px); 
			@include vw(line-height, 38px); 
            @include vw(padding,0 12px);
            margin-left:0;
			@include vw(margin-right, 8px);
            @include vw(margin-bottom, 8px);
            .icon-down{
                display:inline-block;
                position:relative;top:9px;
                margin-left:4px;
            }
		}

		&.btn-down{
			display:inline-block;
			background: $color-brown;
			@include boxSizing(border-box);
			width:auto;@include vw(height, 38px); 
			@include vw(line-height, 38px); 
            @include vw(padding,0 12px);
            margin-left:0;
			color:$color-white;
            .icon-down{
                display:inline-block;
                position:relative;top:9px;
                margin-left:4px;
            }
		}
    }

	.action{
		display:flex;
		justify-content:  flex-end;
		align-items: center;
		margin-top:20px;
		&.flex-start{justify-content: flex-start;}
		&.flex-center{justify-content: center;}
		&.flex-end{justify-content: flex-end;}

		&.fly{
			display:inline-block;
			position:absolute;right:0;bottom:-10px; z-index:10;  
		}
	}

}