#wrap{
	.section-error{
		width:100vw;
		height:100vh;
		display:flex;
		justify-content: center;
		align-items: center;
		text-align:center;
		h3{	text-align:center;color:$color-black;}
		.date-box{
			display:inline-block;
			padding:20px;
			color:$color-black;
			font-size:16px;
			font-weight:600;
			line-height:27.2px;
			background-color:$color-light-brown2;
			margin-bottom:20px;
		}
		.text-box{
			p{
				font-size:16px;
				line-height:27.2px;
				color:$color-gray;
				font-weight:400;
			}
		}

		.action{
			margin-top:40px;
		}

	}
}