#wrap{
	
	.section-examInfo-title{
		margin-bottom:80px;
		&.mb-40{margin-bottom:40px;}
	}

	.section-examInfo-content{
		.tab-list{
			margin-bottom:60px;
			width:100%;
			border-bottom:1px solid $color-light-brown;
			ul{
				display:flex;
				position:relative;
				top:1px;
				li{
					margin-right:8px;
					width:auto !important;
					
					a{
						display:inline-block;
						padding: 4px 16px 16px;
						height:43px;
						font-size:15px;
						font-weight:400;
						line-height:22.5px;
						border:none;
						background-color:transparent;
					}
					&.active, &:hover{
						a{
							background-color:$color-white;
							border-bottom:2px solid $color-black;
						}
					}

					&:first-child{
						a{
							border-left:0;
						}
					}
				}
			}
		}

		.select-pass-box{
			display:flex;
			justify-content: space-between;
			align-items:flex-end;
			margin-bottom:40px;
			
			.select-text{
				color:$color-gray;
				font-size:16px;
				line-height:27.2px;
				font-weight:400;
			}
	
			.form-control{
				padding-bottom:5px;
				.select{
					&.year{width:105px;}
					&.univ{margin-left:8px;width:133px;}
				}
			}

			.custom-select{
				&.year{width:105px;}
				&.univ{margin-left:8px;width:133px;}
			}
		}	

		.examInfo-univ-list{
			display:flex;
			flex-wrap:wrap;
			margin-top:8px;
			.univ-list{
				margin-left:36px;
				margin-top:36px;
				width:273px;
				height:280px;
				&:nth-child(4n+1){margin-left:0;}
				&:nth-child(1),
				&:nth-child(2),
				&:nth-child(3),
				&:nth-child(4){margin-top:0;}
				a{
					display:block;
					padding:30px;
					background-color:$color-white;
					border:1px solid $color-light-brown;
					&:hover{
						background-color:$color-light-brown2;
						border-color:$color-brown;
					}
				}
				.univ-name{
					text-align:center;
	
					.univ-logo{
						display:inline-block;
						width:80px;
						height:80px;
						img{width:100%;}
					}
					p{
						font-size:24px;font-weight:600;margin-top:16px;
					}
				}
				.univ-info{
					margin-top:20px;
					padding-top:20px;
					border-top:1px solid $color-light-brown;
					dl{
						display:flex;
						justify-content: space-around;
						dt{font-size:14px;font-weight:400;}
						dd{
							margin-left:auto;
							display:flex;
							>div{
								width:64px;margin-left:16px;text-align:center;
								.text{font-size:14px;font-weight:600;line-height:23.8px;color:$color-black;}
								.rate{font-size:18px;font-weight:600;line-height:27px;color:$color-brown;}
							}
						}
					}
				}
			}
		}
	
		.examInfo-univ-title{
			margin-bottom:80px;
			text-align:center;
			border:1px solid $color-light-brown;
			padding:64px;
			.logo-box{
				margin-bottom:20px;
				.univ-logo{
					display:inline-block;
					width:80px;
					height:80px;
					img{width:100%;}
				}
			}
			p{
				font-size:40px;font-weight:600;line-height:1;
			}
		}
		
		.examInfo-univ-view{
			
			.notice-view-table{
				.table-row{
					th{
						font-weight:600;
						font-size:16px;
						color:$color-black;
					}
	
					td{
						font-size:16px;
						font-weight:400;

						.type{
							font-weight:600;margin-right:10px;margin-left:20px;
							&:first-child{margin-left:0;}
						}
					}
				}
			}
	
			.tab-box{
				.tab-menu{
					margin-top:0;
					height:27px;
					ul li{
						a{font-weight:400;font-size:16px;height:27px;}
						&.active{
							a{font-weight:600;}
						}
					}
				}
	
				.tab-view{
					padding-top:40px;
	
					.holder{
						&+.holder{margin-top:80px;}
					}
	
					.notice-view-table + .notice-text,
					.notice-text + .notice-view-table{margin-top:10px;}
				}
	
			}
	
			&+.examInfo-univ-view{margin-top:80px;}
		}

		.examInfo-pass-list{
			display:flex;
			flex-wrap:wrap;
			.pass-list, .review-list{
				margin-left:36px;
				margin-top:36px;
				width:273px;
				height:322px;
				&:nth-child(4n+1){margin-left:0;}
				&:nth-child(1),
				&:nth-child(2),
				&:nth-child(3),
				&:nth-child(4){margin-top:0px;}
				a{
					display:block;
					text-align:center;
					padding:40px 30px;
					background-color:$color-white;
					border:1px solid $color-light-brown;
					@include boxSizing(border-box);
					&:hover{
						background-color:$color-light-brown2;
						border-color:$color-brown;
					}
				}
	
				
	
				.pass-subject{margin-top:14px;font-size:24px;font-weight:600;line-height:31.2px;color:$color-black;}
				.pass-desc{
					margin-top:8px;
					span{
						position:relative;
						display:inline-block;
						font-size:14px;font-weight:600;line-height:23.8px;color:$color-brown;
						padding-left:6px;margin-left:6px;
						&:after{
							content:'';
							width:1px;
							height:12px;
							background-color:$color-light-brown;
							position:absolute;left:0;top:50%;margin-top:-6px;
						}
	
						&:first-child{
							padding-left:0;margin-left:0;
							&:after{
								display:none;
							}
						}
					}
				}

				.pass-score{
					margin-top:14px;
					display:inline-block;
					padding:4px 16px;
					background-color:$color-light-brown2;
					color:$color-black;
					font-size:16px;
					line-height:27.2px;
					strong{font-weight:600;}

				}
				.pass-name{margin-top:8px;font-size:14px;font-weight:400;line-height:22.1px;color:$color-gray;}
			}

			.review-list{
				height:318px;
				a{
					padding:28px 24px 24px;
				}

				 .pass-subject{margin-top:12px;}
			}
		}

		.examInfo-univ-input{
			margin-bottom:40px;
			h3{color:$color-black;}
			.notice-input-table{
				.w-160{width:160px !important;}
				.w-280{width:280px !important;}
				
				.select{
					width:280px;
					&.univ{width:133px;}
					&.type{width:93px;}
					&.year{width:133px;}
					&.major{width:120px;}
				}

				.custom-select{
					width:280px;
					&.univ{width:133px;}
					&.type{width:93px;}
					&.year{width:133px;}
					&.major{width:120px;}
				}
	
				.text{
					width:300px;
					&.wide{width:100%;}
				}
	
				.input-box{
					.text{
						width:200px;
					}
	
					.btn-gpa{margin-left:20px;}
	
					
				}
	
				.select-box{
					.select-text{margin-right:36px;}

					&+	.select-box{margin-left:36px;}
				}
	
				.file-box{
					.fake-file-box{
						.text{width:360px;}
					}
				}

				&.review-input-table{
					.select{
						width:160px;
						&.univ{width:280px;}
					}
					.custom-select{
						width:160px;
						&.univ{width:280px;}
					}

					.text{
						width:280px;
						&.wide{width:100%;}
					}
				}
				
				
			}
	
			
		}

		.examInfo-guide-view{
			.box{
				padding:40px 0;
				border-top:1px solid $color-light-brown;
				display:flex;
				flex-wrap:wrap;
				.subject{
					display:flex;
					font-size:20px;font-weight:600;
					line-height:34px;
					color:$color-black;
					strong{display:inline-block;width:66px;font-weight:600;}

					&+.holder{
						margin-top:20px;
					}
				}
				
				.desc{
					width:788px;
					margin-left:auto;
					
					p{
						font-size:16px;font-weight:400;
						line-height:32px;
						color:$color-black;
						&+.dl{margin-top:30px;}
					}
				}

				dl{
					margin-top:20px;
					&:first-child{margin-top:0;}
					dt{
						font-size:18px;font-weight:600;
						line-height:27px;
					}
					dd{
						margin-top:5px;
						margin-left:26px;
						font-size:16px;font-weight:400;
						line-height:32px;
					}
				}

				.list{
					margin-left:24px;
					padding-left:30px;	
					position:relative;
					
					&:before{
						content:'';
						width:2px;
						height:100%;
						background-color:$color-brown;
						position:absolute;left:2px;top:0;
					}

					ul{
						margin-top:30px;
						&:first-child{
							margin-top:26px;
						}

						li{
							margin-top:30px;
							&:first-child{margin-top:0;}
							strong{color:$color-brown;font-weight:600;font-size:18px;}
							p{color:$color-black;font-weight:400;font-size:16px;line-height:32px;margin-top:4px;}
						}
					}
				}

				.step-list{
					margin-top:30px;
					ul{
						li{
							position:relative;
							background-color:$color-light-brown2;
							border:1px solid $color-light-brown;
							width:100%;
							height:56px;
							display:flex;
							justify-content: center;
							align-items:center;
							font-weight:400;
							font-size:16px;
							margin-bottom:32px;
							&:after{
								content:'';
								position:absolute;left:50%;right:0;top:-32px;
								margin-left:-16px;
								display:block;
								background: url('../images/icon_arrow_down.svg') no-repeat center center;
								width:32px;
								height:32px;
							}

							&:last-child, &:first-child{
								&:after{
									display:none;
								}
							}

							&.half{
								background: transparent;
								border:none;
								display:flex;
								justify-content: space-between;
								height:auto;
								>div{
									position:relative;
									width:384px;height:139px;
									background-color:$color-brown;
									text-align:center;
									display:flex;
									justify-content: center;
									align-items:center;
									p{
										color:$color-light-brown2;
										font-weight:400;
										font-size:16px;
										line-height:32px;
										strong{
											display:block;
											font-weight:600;
											font-size:18px;
											line-height:1;
											margin-bottom:8px;
										}
									}
									&:after{
										content:'';
										position:absolute;left:50%;right:0;top:-32px;
										margin-left:-16px;
										display:block;
										background: url('../images/icon_arrow_down.svg') no-repeat center center;
										width:32px;
										height:32px;	
									}
								}
							}
						}
					}
				}

				.holder{
					display:flex;
					width:100%;
					margin-top:60px;
					&:first-child{margin-top:20px;}
					.subtopic{
						font-size:20px;font-weight:600;
						line-height:34px;
						color:$color-black;
						margin-left:66.5px;
					}
					.subtopic-content{
						width:788px;
						margin-left:auto;
					}
				}

				.notice-view-table{
					.table-row{
						&.table-row-center{
							th{
								color:$color-black;
								font-weight:600;
								padding:12px 10px;
							}

							td{
								font-weight:400;
								padding:18px 10px;
							}
						}
					}

					& + .notice-text{margin-top:20px;font-size:13px;line-height:22px;}
				}

			}
		}


		.logo-box{
			display:flex;
			justify-content: center;
			.univ-logo{
				width:80px;height:80px;
				margin:0 6px;
				&:first-child{margin-left:0;}
				img{width:100%;height:100%;}
			}
		}

		.bar{
			background: url('../images/bg_guide.jpg') no-repeat center center;
			width:100%;
			height:240px;
			margin :80px 0 120px;
		}

		.notice-list-table{
			.table-row + .notice-text{margin-top:20px;color:$color-gray;}
		}

		
	}
}