#wrap{
	.section-exam-info{
		margin-bottom:80px;
	}

	.examInfo-univ-list{
		display:flex;
		flex-wrap:wrap;
		.univ-list{
			margin-left:36px;
			margin-top:36px;
			width:273px;
			height:312px;
			&:nth-child(4n+1){margin-left:0;}
			&:nth-child(1),
			&:nth-child(2),
			&:nth-child(3),
			&:nth-child(4){margin-top:0;}
			a{
				display:block;
				padding:30px;
				background-color:$color-white;
				border:1px solid $color-light-brown;
				&:hover{
					background-color:$color-light-brown2;
					border-color:$color-brown;
				}
			}
			.univ-name{
				text-align:center;

				.univ-logo{
					display:inline-block;
					width:100px;
					height:100px;
					img{width:100%;}
				}
				p{
					font-size:24px;font-weight:600;margin-top:20px;
				}
			}
			.univ-info{
				margin-top:20px;
				padding-top:20px;
				border-top:1px solid $color-light-brown;
				dl{
					display:flex;
					justify-content: space-around;
					dt{font-size:14px;font-weight:400;}
					dd{
						margin-left:auto;
						display:flex;
						>div{
							width:52px;margin-left:20px;
							.text{font-size:14px;font-weight:600;line-height:23.8px;color:$color-black;}
							.rate{font-size:18px;font-weight:600;line-height:27px;color:$color-brown;}
						}
					}
				}
			}
		}
	}

	.examInfo-univ-view{
		
		.notice-view-table{
			.table-row{
				th{
					font-weight:600;
					font-size:16px;
					color:$color-black;
				}

				td{
					font-size:16px;
					font-weight:400;
				}
			}
		}

		.tab-box{
			.tab-menu{
				margin-top:0;
				height:27px;
				ul li{
					a{font-weight:400;font-size:16px;height:27px;}
					&.active{
						a{font-weight:600;}
					}
				}
			}

			.tab-view{
				padding-top:40px;

				.holder{
					&+.holder{margin-top:80px;}
				}

				.notice-view-table + .notice-text{margin-top:10px;}
			}

		}

		&+.examInfo-univ-view{margin-top:80px;}
	}

	.examInfo-univ-input{
		margin-bottom:40px;
		h3{color:$color-black;}
		.notice-input-table{
			.select{
				width:133px;
				&.univ{width:133px;}
				&.type{width:93px;}
				&.year{width:133px;}
				&.major{width:120px;}
			}

			.text{
				width:300px;
				&.wide{width:100%;}
			}

			.input-box{
				.text{width:200px;}

				.btn-gpa{margin-left:20px;}

				
			}

			.select-box{
				.select-text{margin-right:36px;}
			}

			.file-box{
				.fake-file-box{
					.text{width:360px;}
				}
			}
			
		}

		
	}

	.examInfo-univ-title{
		margin-bottom:40px;
		text-align:center;
		border:1px solid $color-light-brown;
		padding:64px;
		.univ-logo{
			display:inline-block;
			width:80px;
			height:80px;
			img{width:100%;}
		}
		p{
			font-size:40px;font-weight:600;margin-top:20px;line-height:60px;
		}
	}

	.section-univ-content{
		.tab-list{margin-bottom:60px;}
		.select-pass-box{
			display:flex;
			justify-content: space-between;
			align-items:flex-end;
			
			.select-text{
				color:$color-gray;
				font-size:16px;
				line-height:27.2px;
				font-weight:400;
			}

			.form-control{
				padding-bottom:5px;
				.select{
					&.year{width:105px;}
					&.univ{margin-left:8px;width:133px;}
				}
			}
		}	
	}

	.examInfo-pass-list{
		display:flex;
		flex-wrap:wrap;
		.pass-list{
			margin-left:36px;
			margin-top:36px;
			width:273px;
			height:322px;
			&:nth-child(4n+1){margin-left:0;}
			&:nth-child(1),
			&:nth-child(2),
			&:nth-child(3),
			&:nth-child(4){margin-top:40px;}
			a{
				display:block;
				text-align:center;
				padding:40px 30px;
				background-color:$color-white;
				border:1px solid $color-light-brown;
				&:hover{
					background-color:$color-light-brown2;
					border-color:$color-brown;
				}
			}

			.pass-logo-box{
				display:flex;
				justify-content: center;
				.univ-logo{
					width:80px;height:80px;
					margin:0 6px;
					&:first-child{margin-left:0;}
					img{width:100%;height:100%;}
				}
			}

			.pass-subject{margin-top:16px;font-size:24px;font-weight:600;line-height:31.2px;color:$color-black;}
			.pass-desc{
				margin-top:8px;
				span{
					position:relative;
					display:inline-block;
					font-size:14px;font-weight:600;line-height:23.8px;color:$color-brown;
					padding-left:6px;margin-left:6px;
					&:after{
						content:'';
						width:1px;
						height:12px;
						background-color:$color-light-brown;
						position:absolute;left:0;top:50%;margin-top:-6px;
					}

					&:first-child{
						padding-left:0;margin-left:0;
						&:after{
							display:none;
						}
					}
				}
			}
			.pass-name{margin-top:8px;font-size:14px;font-weight:400;line-height:23.8px;color:$color-gray;}
		}
	}
}