#wrap {
	.btn-top{position:fixed;right:40px;bottom:40px;z-index:10;}
	
	.wrap {
		position:relative;
		width:1200px;
		margin:0 auto;
    }

	.header-top-banner{
		position:relative;
		display:none;
		&.active{
			display:block;
		}

		background-color:#e4ded3;
		color:$color-black;
		font-size:14px;
		font-weight:400;
		padding:14px 0;
		text-align:center;

		a{display:inline-block;}

		.banner-close{
			@include close(30px, 30px, 0.5px,$color-black);
			top:50%;
			margin-top:-15px;
			margin-left:500px;
		}
	}

	#header {
        position: relative;
        text-align: center;
        vertical-align: top;
		.header-util{
			.wrap{
				display:flex;
				justify-content: flex-end;
				align-items: center;
				padding-top:8px;
				height:32px;
				a{
					display:inline-block;color:$color-gray;margin-left:20px;font-size:13px;vertical-align:middle;height:24px;line-height:24px;
					&.btn-header-search{height:32px;line-height:32px;}
				}
			}

			

			.login{
				position:relative;
				.icon-new{
					position:relative;top:-1px;
				}

				.icon-arrow{
					position:relative;top:2px;
				}

				.header-layer{
					position:absolute;right:0;top:32px;display:none;
					z-index:10;
					.util-list{
						width:120px;
						padding:14px 20px;
						background-color:$color-white;
						border:1px solid $color-light-brown;
						@include boxSizing(border-box);
						li{
							text-align:left;
							height:24px;
							line-height:24px;
							margin-top:8px;
							&:first-child{margin-top:0;}
							a{
								margin-left:0;line-height:1;height:auto;
								span{display:inline-block;color:$color-brown;font-size:14px;text-align:right;width:20px;}
							}
						}
					}
				}

				&.active{
					.header-layer{
						display:block;
					}

					.icon-arrow{
						img{
							transform:rotateZ(-180deg);
						}
					}
				}
			}
		}
		.header-gnb{
			margin-top:4px;
		
			.wrap{
				display:flex;
				justify-content: space-around;
				height:48px;
				align-items:flex-end;
				padding-bottom:24px;
				border-bottom:1px solid $color-light-brown;
			}

			&.border-none{
				.wrap{
					border-bottom:none;
				}
			}
			
			.header-logo{}
			.header-menu{
				margin-left:auto;
				display:flex;


				a{

					color:$color-black;
					font-size:20px;
				}

				.gnb-list{
					display:flex;
					li{
						margin-right:40px;
						
					}

				}

				.btn-sscampus{
					.icon-sscampus{
						display:inline-block;
						position:relative;top:2px;
						margin-right:4px
					}
				}
			}
		}

		.header-search{
			position:absolute;left:0;right:0;top:116px;z-index:1003;
			display:none;
			background-color:$color-light-brown2;
			padding:60px 0;
			.search-box{
				width:788px;
				margin:0 auto;
				.search-text{
					position:relative;
					input[type=text]{
						width:100%;
						border:none;
						border-bottom:1px solid $color-gray;
						height:40px;@include boxSizing(border-box);
						padding:0 32px 0 48px;
						color:$color-black;
						font-size:24px;
						font-weight:600;
						&::placeholder{
							color:$color-light-gray;
							font-size:24px;
							font-weight:400;
						}
					}
	
					.search-action{
						position:absolute;left:0;top:0;z-index:10;
					}
					.search-cancel{
						position:absolute;right:0;top:50%;z-index:9;
						transform: translateY(-50%);
						display:none;
					}
				}
	
				.action{
					margin-top:16px;
					.btn{@include vw(width, 65px);@include vw(height, 30px);margin-left:8px;}
				}
			}
	
			.header-search-close{
				@include close(50px, 50px, 1px, #000);
				top:-50px;
			}
		}

		&.header{
			background-color:$color-dark-black;
			.header-gnb{
				margin-top:0;
				padding:36.5px 40px;
				border-bottom:1px solid $color-light-black;
				.header-logo{
					position:absolute;left:50%;transform:translateX(-50%);top:35px;
					h1{margin:0;font-size:0;line-height:1;}
				}
	
				.header-util{
					display:flex;
					align-items:center;
					justify-content: flex-end;
					a{
						font-size:14px;color:$color-light-gray;
						margin-left:24px;
					}

					.login .header-layer .util-list {
						li {
							a{font-size:13px;color:$color-gray;}
						}
					}
					
				}
			}

			.header-menu{
				padding:20px 0;
				.gnb-list{
					display:flex;
					justify-content: center;
					align-items: center;
					li{
						margin-left:48px;
						&:first-child{margin-left:0;}
						a{
							color:#9a9a9a;
							font-size:16px;
							line-height:27.2px;
							font-weight:500;
						}

						&.active{
							a{
								color:$color-white;
							}
						}
					}
				}
			}

		}
    }


	#contents {
		@extend %clearfix; 
		padding:100px 0 200px;
		@include boxSizing(border-box);
		&.main{padding:0;}
   }

    #footer {
		.footer-top{
			border-top:1px solid $color-light-brown;
			padding:16px 0;
			.wrap{
				display:flex;
				align-items:center;
				justify-content: space-between;
			}

			.footer-list{
				display:flex;
				li{
					a{
						font-weight:400;color:$color-black;font-size:14px;
						position:relative;
						display:inline-block;
						padding-right:20px;
						margin-right:20px;
						&:after{
							content:'';
							width:1px;
							height:12px;
							background-color:$color-light-brown;
							position:absolute;right:0;top:50%;margin-top:-6px;

						}
					}
					&:last-child{
						a{
							&:after{display:none;}
						}
					}
				}
			}
			.footer-site{
				display:flex;
				align-items: center;
				
				a{
					display:inline-block;font-weight:600;color:$color-gray;font-size:13px;
					margin-left:36px;
					&:first-child{
						cursor:default;
					}

					&.btn-ssmockexam{
						position:relative;top:-3px;
					}
				}
			}
		}
		.footer-bottom{
			border-top:1px solid $color-light-brown;
			padding:40px 0 48px;
			.company-info{
				margin-top:32px;
				p{
					color:$color-black;
					font-size:11px;
					font-weight:400;
					line-height:19px;

					strong{display:inline-block;margin-right:20px;}
					span{
						position:relative;
						display:inline-block;
						padding-right:20px;
						margin-right:20px;
						&:after{
							content:'';
							width:1px;
							height:12px;
							background-color:$color-light-brown;
							position:absolute;right:0;top:50%;margin-top:-6px;
						}

						&:last-child{
							&:after{display:none;}
						}
					}
				}
			}

			.sns-list{
				margin-top:32px;
				display:flex;
				a{
					display:inline-block;
					margin-right:8px;
				}
			}

		}

		&.footer{
			background-color:$color-dark-black;
			.footer-top{
				border-top:0;
				padding:0;
				padding-top:64px;
				.wrap{justify-content: flex-start;align-items:flex-start;}


				.footer-menu{
					display:flex;
					border-right:1px solid $color-light-black;
					>div{
						margin-right:98px;
					}

					.footer-menu-title{
						color:$color-white;
						font-size:16px;
						font-weight:700;
						line-height:24px;
					}

					.footer-menu-list{
						display:block;
						li{
							a{
								color:$color-light-gray;
								font-size:14px;
								line-height:21px;
								font-weight:400;
							}
							
							margin-top:12px;
							&:first-child{margin-top:24px;}
						}
					}
				}

				.footer-info{
					padding-left:101.24px;
					
					.footer-customer{font-weight:600;font-size:20px;line-height:34px;color:$color-light-beige;}
					.footer-info-list{
						display:flex;
						margin-top:24px;
						dt,dd{
							color:$color-light-gray;
							font-size:14px;
							line-height:23.8px;
							font-weight:400;
						}
						dt{
							width:170px;
							margin-right:48px;
							font-weight:600;
						}

						dd{
							>div{
								display:flex;
								flex-wrap:wrap;
								strong{
									width:66px;
									margin-right:24px;
									font-weight:400;
								}
							}
						}
					}
				}
			}
			.footer-bottom{
				border-top:0;
				padding:48px 0 64px;
				.company-info{
					margin-top:0;
					p{
					color:$color-777;font-size:13px;line-height:22.1px;
					strong{font-weight:400}
					span{
						padding-right: 8px;margin-right: 4px;
						&:after{ background-color: $color-777;height:8px;margin-top:-4px;}
					}

					&.copyright{
						margin-top:16px;
					}
					}
				}
				.sns-list{
					margin-top:24px;
					a{margin-right:16px;}
				}
			}
		}
    }
}