#wrap{
	.section-lecture{
		.lecture-box{
			.lecture-view{
				padding:40px;
				border:1px solid $color-light-brown;
				
				background-color:$color-light-brown2;
				display:flex;
				.lecture-left, .lecture-wide{
					width:748px;
					.lecture-subject{
						color:$color-black;font-weight:600;font-size:28px;line-height:42px;
					}

					
					.lecture-desc{
						margin-top:4px;	color:$color-black;font-size:16px;font-weight:400;
					}

					.lecture-text{
						margin-top:20px;
						font-weight:400;
						font-size:13px;
						color:$color-black;
						line-height:23.8px;
						display:flex;
						p{
							
							position:relative;
							display:inline-block;
							padding-right:8px;
							margin-right:8px;
							vertical-align:middle;
							strong{
								display:inline-block;
								font-weight:600;
								color:$color-brown;
								margin-left:4px;
							}
							&:after{
								content:'';
								width:1px;
								height:12px;
								background-color:$color-light-brown;
								position:absolute;right:0;top:50%;margin-top:-6px;
	
							}
							
							&:last-child{
								&:after{display:none;}
							}
						}
					}

					.lecture-name{
						display:flex;
						margin-top:20px;
						strong{
							display:inline-block;
							color:$color-black;font-weight:600;font-size:16px;line-height:27.22px;
						}
					}

					.lecture-btn{
						display:flex;
						margin-top:20px;
					}

					dl{
						display:flex;
						dt{
							&.book-img{
								background-color:$color-light-brown;
								width:200px;display:flex;align-items:center;justify-content: center;
								height:200px;overflow:hidden;
								img{width:92px;height:128px;}
							}

							&.thumbnail{
								background-color:$color-light-brown;
								width:200px;display:flex;align-items:center;justify-content: center;
								height:200px;overflow:hidden;
								img{width:100%;height:100%;}
							}
						}
						dd{
							margin-left:36px;
							width:512px;
						}
					}
				}

				.lecture-wide{
					width:100%;
					dl{
						dt{}
						dd{width:884px;}
					}
				}

				.lecture-right{
					width:352px;
					margin-left:20px;
					border-left:1px solid $color-light-gray;
					padding-left:36px;
					@include boxSizing(border-box);
					dl{
						position:relative;
						display:flex;
						align-items:center;
						margin-top:16px;
						&:first-child{margin-top:0;}
						dt,dd{width:50%;font-size:16px;font-weight:400;text-align:left;}
						dt{color:$color-gray;}
						dd{
							font-weight:600;
							
						}
					}

				}

				.btn-help:hover{
					& + .layer-box{display:block;}
				}

				.layer-box{
					display:none;
					position:absolute;right:50px;top:27px;z-index:11;
					background-color:$color-white;
					padding:24px;
					border:1px solid $color-light-brown;
					width:520px;@include boxSizing(border-box);
					text-align:left;
					.layer-title{margin-bottom:8px;font-size:14px;font-weight:600;color:$color-brown;}
					.layer-list{
						li{font-size:14px;font-weight:400;color:$color-black;line-height:23.8px;}
					}
				}
				
			}
			.lecture-list{
				padding:32px 40px;
				border:1px solid $color-light-brown;
				border-top:none;
				
				.check-list{
					display:flex;
					align-items: center;
					margin-top:20px;
					&:first-child{margin-top:0;}

					.form-control{
						.fake-checkbox{
							label{
								.badge{
									margin-right:8px;
								}
								font-size:16px;
							}
						}
					}

					.check-control{
						margin-left:auto;
						display:flex;
						.price-box{
							margin-left:36px;
							width:223px;
						}
					}
				}

				.total-box{
					border-top:1px solid $color-light-brown;
					margin-top:20px;
					padding-top:20px;
				}

			}

			.action{margin-top:20px;}
		}

		.action{
			//padding-bottom:12px;
		}
	}

	.section-lecture-content{
		.tab-view{padding-top:80px;}
		.lecture-content{
			margin-top:120px;
			&:first-child{margin-top:0;}
			.lecture-title{font-size:24px;font-weight:600;color:$color-brown;padding-bottom:20px;}
			.lecture-intro{
				padding-top:20px;
				border-top:1px solid $color-light-brown;
				font-size:16px;font-weight:400;line-height:27.2px;
				strong{font-weight:600;}
				dl{
					margin-bottom:40px;
					&:last-child{margin-bottom:0px;}

					dt,dd{font-size:16px;line-height:27.2px;}
					dt{font-weight:600;}
					dd{font-weight:400;}

				}

				.img{margin-top:20px;}

			}

			.lecture-data-list{
				.book-list, .course-list{
					.subject{
						width:120px;
					}
					.desc-box{
						display:flex;
						align-items:center;
						justify-content: flex-start;
						width:880px;
					
						.t-img{
							display:flex;
							justify-content:center;
							align-items: center;
							background-color:$color-light-brown2;
							@include vw(width, 168px);@include vw(height, 168px);
							overflow:hidden;
							
							img{
								width:100%;
								height:100%;
							}
	
							&+.t-desc{margin-left:36px;}
						}
		
						.t-desc{
							text-align:left;
							.desc-title{
								position:relative;
								display:inline-block;
								font-size:18px;
								color:$color-black;
								font-weight:600;
								line-height:27px;
								
	
								&:hover{
									a{
										border-bottom:2px solid $color-black;
									}
								}
							}
	
							.desc-info{
								font-size:14px;
								color:$color-black;
								line-height:23.8px;
								margin-top:20px;
								p{
									margin-top:4px;
									font-weight:400;
									&:first-child{margin-top:0;}
									span{
										display:inline-block;
										width:40px;
										text-align:left;
									}
									strong{
										display:inline-block;
										font-weight:600;
										margin-left:24px;
									}
								}
							}

							.desc-text{
								font-size:13px;
								color:$color-black;
								line-height:22.1px;
								display:flex;
								p{
									margin-top:4px;
									position:relative;
									display:inline-block;
									padding-right:8px;
									margin-right:8px;
									vertical-align:middle;
									strong{
										display:inline-block;
										font-weight:600;
										color:$color-brown;
										margin-left:4px;
									}
									&:after{
										content:'';
										width:1px;
										height:12px;
										background-color:$color-light-brown;
										position:absolute;right:0;top:50%;margin-top:-6px;
			
									}
									
									&:last-child{
										&:after{display:none;}
									}
								}
							}
	
							.desc-btn{
								margin-top:8px;display:flex;
								.btn{
									@include vw(margin-left, 5px);
									&:first-child{margin-left:0;}
								}
							}
	

						}

						.t-name{
							width:80px;
							margin-left:auto;
						}
					}

					.price{
						width:320px;
						display:flex;
						align-items: center;
						.price-subject{width:40px;font-size:14px;}
						.price-box{
							margin-left:auto;
							.badge{margin-right:8px;padding: 3px 4px;font-size:11px;}
							.price-before, .price-sale, .price-after{font-size:14px;font-weight:600;}
							.price-before{font-weight:400;}
							.price-sale{margin-right:8px;color:$color-brown;}
							.price-after{color:$color-black;}
						}
						// >div{width:auto;}
					}
					
				}

				.course-list{
					.desc-box{
						width:760px;
						.t-img{
							@include vw(width, 72px);@include vw(height, 72px);
						}
					}
				}

				.book-list{
					.desc-box{
						justify-content: flex-start;
	
						.t-img{
							width:168px;height:168px;
							background-color:$color-light-brown2;
							overflow:hidden;
							img{
								width:68px;height:96px;
							}
						}
	
						.t-desc{
							.desc-title{width:635px;}
						}
					}
				}
			}

			.table-row tr th{font-weight:400;}
		}

		.package-content{
			.lecture-data-list{margin-top:60px;}
		}
	}

	.section-special-lecture{
		.special-lecture-title{font-size:36px;line-height:50.4px;font-weight:400;color:$color-black;padding-bottom:97px;}

		.navigation-box{
			margin:40px 0;
			display:flex;
			justify-content: space-between;
			align-items:flex-end;
			.navigation{padding-top:0;}
		}
	}


}