#wrap{
    .lecture-data-list{
		.book-list, .course-list{
			.subject{
				width:120px;
			}
			.desc-box{
				display:flex;
				align-items:center;
				justify-content: flex-start;
				width:880px;
			
				.t-img{
					display:flex;
					justify-content:center;
					align-items: center;
					background-color:$color-light-brown2;
					@include vw(width, 168px);@include vw(height, 168px);
					overflow:hidden;
					
					img{
						width:100%;
						height:100%;
					}

					&+.t-desc{margin-left:20px;}
				}

				.t-desc{
					text-align:left;
					.desc-title{
						position:relative;
						display:inline-block;
						font-size:18px;
						color:$color-black;
						font-weight:600;
						line-height:27px;
						width:464px;
						

						&:hover{
							a{
								border-bottom:2px solid $color-black;
							}
						}
					}

					.desc-info{
						font-size:14px;
						color:$color-black;
						line-height:23.8px;
						margin-top:20px;
						p{
							margin-top:4px;
							font-weight:400;
							&:first-child{margin-top:0;}
							span{
								display:inline-block;
								width:40px;
								text-align:left;
							}
							strong{
								display:inline-block;
								font-weight:600;
								margin-left:24px;
							}
						}
					}

					.desc-text{
						font-size:13px;
						color:$color-black;
						line-height:22.1px;
						display:flex;
						p{
							margin-top:4px;
							position:relative;
							display:inline-block;
							padding-right:8px;
							margin-right:8px;
							vertical-align:middle;
							strong{
								display:inline-block;
								font-weight:600;
								color:$color-brown;
								margin-left:4px;
							}
							&:after{
								content:'';
								width:1px;
								height:12px;
								background-color:$color-light-brown;
								position:absolute;right:0;top:50%;margin-top:-6px;
	
							}
							
							&:last-child{
								&:after{display:none;}
							}
						}
					}

					.desc-btn{
						margin-top:8px;display:flex;
						.btn{
							@include vw(margin-left, 5px);
							&:first-child{margin-left:0;}
						}
					}
					.desc-lecture{
						margin-top:20px;
						p{
							font-size:13px;
							line-height:22.1px;
							a{
								&:hover{border-bottom:1px solid $color-black;}
							}
						}
					}

				}

				.t-name{
					width:80px;
					margin-left:auto;
				}
			}

			.price{
				width:320px;
				display:flex;
				align-items: center;
				flex-wrap:wrap;
				>div{
					width:100%;
					display:flex;
					align-items: center;
					margin-top:8px;
					&:first-child{margin-top:0;}

					.price-subject{width:40px;font-size:14px;}
					.price-box{
						margin-left:auto;
						.badge{margin-right:8px;padding: 3px 4px;font-size:11px;}
						.price-before, .price-after{font-size:14px;}
					}
				}
			}
			
		}

		.course-list{
			.desc-box{
				width:760px;
				.t-img{
					@include vw(width, 72px);@include vw(height, 72px);
				}
			}
		}
	}

	.lecture-review{
		display:flex;
		flex-wrap:wrap;
		.review-list{
			margin-left:36px;
			margin-top:36px;
			width:376px;
			height:319px;
			&:nth-child(3n+1){margin-left:0;}
			&:nth-child(1),
			&:nth-child(2),
			&:nth-child(3){margin-top:0;}
			a{
				display:block;
				padding:30px;
				background-color:$color-white;
				border:1px solid $color-light-brown;
				&:hover{
					background-color:$color-light-brown2;
					border-color:$color-brown;
				}
			}
			.review-desc{
				font-size:16px;font-weight:400;line-height:27.2px;height:160px;
				text-overflow: ellipsis;
				overflow: hidden;
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 6;margin-bottom:30px;
			}
			.review-info{
				padding-top:20px;
				border-top:1px solid $color-light-brown;
				dl{
					display:flex;
					dt,dd{font-size:14px;font-weight:400;line-height:23.8px;}
					dt{width:48px;}
					dd{margin-left:20px; @extend %textEllipsis;}
				}
			}
		}

		.action{
			position: absolute;
			right: 0;
			bottom: 0;
			z-index: 10;
			margin-top: 0;
		}
	}
}