#wrap{
	.section-main-title{
		font-family:$font-notoSerifKr;
		font-size:24px;
		line-height:43.2px;
		font-weight:400;
		text-align:center;
		margin-top:20px;
	}

	.section-main-content{
		.tab-box{
			&.tab-slide{
				.tab-menu-slide{
					margin-top:0;
					ul li{
						&:after{height:16px;margin-top:-8px;}
						a{font-size:18px;}
					}
				}
			}
		}

		.banner-slider{
			width:100%;
			.slick-slide{
				width:1200px;
				height:440px;
				overflow:hidden;
				img{width:100%;height:100%;}
			}

			.list{
				a{display:block;}
			}
		}

		.main-banner{
			position:relative;
			&.half-slide{
				display:flex;
				margin-top:60px;
				>div{
					width:588px;height:160px;overflow:hidden;margin-left:24px;
					&:first-child{margin-left:0;}
				}
				.banner-slider{
					.slick-slide{height:160px;}
					.slick-arrow {
						&.slick-prev, &.slick-next{top:0;}
					}
				}
			}

			&.page-slide{
				.slick-slide{
					height:440px;
				}

				.slick-counter{
					position:absolute;right:58px;top:-44px;
					width:auto !important;
					height:auto !important;
					span{
						color:$color-light-gray;
						font-size:12px;
						font-weight:400;
						line-height:20.4px;
						letter-spacing:2px;
						strong{color:$color-brown;font-weight:400;}
					}
				}
			}

		}

		.main-banner-top{
			margin-top:80px;
			.main-banner-tab{
				display:flex;
				.tab-slide{
					width:891px;
				}
			}

			.main-banner-promotion{
				width:273px;
				margin-left:36px;
				padding-top:45px;
			}

		}
	}
}