#wrap{
	.section-main-title{
		font-family:$font-notoSerifKr;
		font-size:24px;
		line-height:43.2px;
		font-weight:400;
		text-align:center;
		margin-top:20px;
	}

	.section-main-banner{
		margin-top:80px;
		.main-banner-tab{
			display:flex;
			.tab-slide{
				width:891px;
			}
		}

		.main-banner-promotion{
			width:273px;
			margin-left:36px;
			padding-top:45px;
		}


		.tab-box{
			&.tab-slide{
				.tab-menu-slide{
					margin-top:0;
					ul li{
						&:after{height:16px;margin-top:-8px;}
						a{font-size:18px;}
					}
				}
			}
		}

		.banner-slider{
			width:100%;
			.slick-slide{
				width:1200px;
				height:440px;
				overflow:hidden;
				img{width:100%;height:100%;}
			}

			.list{
				a{display:block;}
			}
		}

		.main-banner-slide{
			position:relative;
			&.half-slide{
				display:flex;
				margin-top:60px;
				>div{
					width:588px;height:160px;overflow:hidden;margin-left:24px;
					&:first-child{margin-left:0;}
				}
				.banner-slider{
					.slick-slide{height:160px;}
					.slick-arrow {
						&.slick-prev, &.slick-next{top:0;}
					}
				}
			}

			&.page-slide{
				.slick-slide{
					height:440px;
				}

				.slick-counter{
					position:absolute;right:58px;top:-44px;
					width:auto !important;
					height:auto !important;
					span{
						color:$color-light-gray;
						font-size:12px;
						font-weight:400;
						line-height:20.4px;
						letter-spacing:2px;
						strong{color:$color-brown;font-weight:400;}
					}
				}
			}

		}

	}

	.section-main-content{
		margin-top:100px;
		.main-title{
			font-weight:600;
			font-size:28px;
			line-height:42px;
			display:flex;
			align-items:center;
			strong{
				font-weight:600;
			}

			.btn-more{
				display:inline-block;
				margin-left:auto;
				color:$color-gray;
				font-size:16px;
				font-weight:400;


			}
		}

		.main-professor-list{
			position:relative;
			.main-title{
				font-size:32px;
				line-height:48px;
			}
			.slick-arrow {
				@extend %slick-arrow;
				border-radius:50%;
		
				&.slick-prev{
					@include slideArrow(left, 64px, 64px, 1px, $color-black, $color-light-beige, $margin: 635px);
					&:before{
						width:8px;height:8px;
					}
		
					top:128px;
					transform: translateY(0);
				}
				&.slick-next{
				   @include slideArrow(right, 64px, 64px, 1px, $color-black,$color-light-beige, $margin: 635px);
				   &:before{
						width:8px;height:8px;
					}
		
					top:128px;
					transform: translateY(0);
				}
			}

			.tab-box{
				.tab-menu-slide{
					position:absolute;right:0;top:4px;
					margin:0;
					ul{
						text-align:center;
						li {
							margin:0;padding:0;
							margin-left:40px;
							display:inline-block;
							&:after{display:none;}
							a { 
								display:inline-block;
								height:38px;
								line-height:38px;
								border-bottom:3px solid transparent;
								font-weight:600;
								font-size:20px;
								color:$color-light-gray;
								@include boxSizing(border-box);
							}
		
							&.active, &:hover{
								a{
									border-color:$color-black;
									color:$color-black;
								}
							}
						}
					}
				}

				.tab-view{
					padding-top:40px;
					.professor-slider{
						display:flex;
						flex-wrap:wrap;

						.list{
							width:376px;
							margin-left:36px;

							&:nth-child(1):nth-last-child(2),
							&:nth-child(2):nth-last-child(1) { width: 582px; }

							a{
								display:block;
							}
							.professor-img{
								position: relative;
								background-color:$color-light-brown2;
								width:100%;height:340px;
								overflow:hidden;
								img{
									display: block;
									position: absolute;
									bottom: 0;
									left: 0;
									right: 0;
									height: 100%;
									margin: 0 auto;
								}
							}
							.professor-desc{
								padding:20px 0 24px;
								text-align:center;
								.desc-name{
									color:$color-black;font-size:20px;font-weight:400;line-height:34px;
									strong{display:inline-block;margin-left:8px;font-weight:600;}
								}
								.desc-subject{font-weight:400;font-family:$font-notoSerifKr;color:$color-brown;font-size:17px;}

							}
							&:hover{
								.professor-img{
									background-color:$color-light-brown;
								}
							}


						}
					}

					.professor-lecture-list{
						display:flex;
						flex-wrap:wrap;
				
						.list{
							border-top:1px solid $color-light-brown;
							border-bottom:1px solid $color-light-brown;
							@include boxSizing(border-box);
							padding:16px;
							width:376px;
							margin-left:36px;
							&:first-child{margin-left:0;}
				
							&:nth-child(1):nth-last-child(2),
							&:nth-child(2):nth-last-child(1) { 
								width: 582px; 
								.t-desc{
									.desc-title{width:474px;}
								}
							}
				
							a{
								display:flex;
								align-items:center;
				
								.t-img{
									background-color:$color-light-brown2;
									width:60px;height:60px;
									overflow:hidden;
									
									img{
										width:100%;
										height:100%;
									}
								}
				
								.t-desc{
									text-align:left;
									margin-left:16px;
									.desc-title{
										position:relative;
										display:inline-block;
										width:268px;
										font-size:16px;
										color:$color-black;
										font-weight:600;
										line-height:27px;
										@extend %textEllipsis;
									}
				
									.desc-text{
										font-size:13px;
										color:$color-black;
										line-height:22.1px;
										display:flex;
										p{
											position:relative;
											display:inline-block;
											margin:0;
											padding-right:8px;
											margin-right:8px;
											vertical-align:middle;
											font-weight:400;
											
											strong{
												display:inline-block;
												font-weight:600;
												color:$color-brown;
												margin-left:4px;
											}
											&:after{
												content:'';
												width:1px;
												height:12px;
												background-color:$color-light-brown;
												position:absolute;right:0;top:50%;margin-top:-6px;
					
											}
											
											&:last-child{
												&:after{display:none;}
											}
										}
									}
				
								}
				
								&:hover{
									.t-desc{
										.desc-title{
											text-underline-offset: 5px;
											text-decoration: underline solid 2px;
										}
									}
								}
							}
						}
					}

				}
			}
		}


		.main-lecture-slide{
			display:flex;
			margin-top:120px;
			.main-title{
				margin-bottom:20px;
			}

			.tab-box{
				&.tab-slide{
					.tab-menu-slide{
						margin-top:0;
						ul li{
							&:after{height:16px;margin-top:-8px;}
							a{font-size:18px;}
						}
					}
				}
			}

			.lecture-slide{
				width:847px;

				.lecture-data-list .course-list{
					.desc-box {
						width:847px;padding:20px 16px;@include boxSizing(border-box);
						.t-img{width:60px;height:60px;}
						.t-desc{
							margin-left:16px;
							.desc-title{
								width:739px;
								font-size:16px;line-height:27.2px;
								@extend %textEllipsis;
							}
						}
					}
				}

				.action{
					margin-top:40px;
					a{
						background: $color-white url('../images/icon_arrow_right.svg') no-repeat 95% center;
						@include boxSizing(border-box);
						@include vw(width, 271px);
						justify-content: flex-start;
						margin-left:16px;padding:0 24px;
						height:80px;

						.icon{margin-right:8px;}

						&:first-child{margin-left:0;}
					}
				}
			}

			.online-slide{
				width:273px;
				margin-left:auto;

				.online-slider{
					.list{
						a{display:block;}
						.book-img{
							display:flex;
							justify-content:center;
							align-items: center;
							background-color:$color-light-brown2;
							width:273px;height:351px;
							overflow:hidden;
							
							img{
								width:120px;
								height:168px;
							}
						}
	
						&:hover{
							.book-img{
								background-color:$color-light-brown;
							}
						}
	
						.book-desc{
							text-align:left;
							margin-top:20px;
							.desc-title{
								position:relative;
								display:inline-block;
								font-size:16px;
								color:$color-black;
								font-weight:600;
								line-height:27px;
								width:273px;
								@extend %textEllipsis;
							}
	
							.desc-text{
								font-size:13px;
								color:$color-black;
								line-height:1;
								display:flex;
								p{
									margin-top:4px;
									position:relative;
									display:inline-block;
									padding-right:8px;
									margin-right:8px;
									vertical-align:middle;
									font-weight:400;
									strong{
										display:inline-block;
										font-weight:600;
										color:$color-brown;
										margin-left:4px;
									}
									&:after{
										content:'';
										width:1px;
										height:12px;
										background-color:$color-light-brown;
										position:absolute;right:0;top:50%;margin-top:-6px;
			
									}
									
									&:last-child{
										&:after{display:none;}
									}
								}
							}
	
	
	
						}
	
					}
				}
			}
		}

		.main-band-banner{
			width:1200px;
			margin-top:100px;
			a{
				display:block;
				img{width:100%;}
			}
		}

		.main-lecture-review{
			margin-top:100px;
			.main-title{margin-bottom:16px;}
			.lecture-slider{
				.review-list{
					margin-right:36px;
					width:376px;
					height:319px;
					a{
						display:block;
						padding:30px;
						background-color:$color-white;
						border:1px solid $color-light-brown;
						&:hover{
							background-color:$color-light-brown2;
							border-color:$color-brown;
						}
					}
					.review-desc{
						font-size:16px;font-weight:400;line-height:27.2px;height:160px;
						text-overflow: ellipsis;
						overflow: hidden;
						display: -webkit-box;
						-webkit-box-orient: vertical;
						-webkit-line-clamp: 6;margin-bottom:30px;
					}
					.review-info{
						padding-top:20px;
						border-top:1px solid $color-light-brown;
						dl{
							display:flex;
							dt,dd{font-size:14px;font-weight:400;line-height:23.8px;}
							dt{width:48px;}
							dd{
								margin-left:20px; @extend %textEllipsis;
								width:248px;
							}
						}
					}
				}
			}
		}

		.border-top-line{
			padding-top:80px;
			margin-top:80px;
			border-top:1px solid $color-light-brown2;
		}

		.main-info-banner{
			a{
				background: $color-white url('../images/icon_arrow_right.svg') no-repeat 95% center;
				@include boxSizing(border-box);
				width:282px;
				justify-content: flex-start;
				margin-left:24px;padding:0 24px;
				height:80px;
				font-size:16px;

				.icon{margin-right:8px;}

				&:first-child{margin-left:0;}
			}
		}

		.main-pass-review{
			margin-top:80px;
			.main-title{margin-bottom:16px;}
			.pass-review-list{
				display:flex;
				.list{
					width:376px;
					margin-left:36px;
					&:first-child{margin-left:0;}
					a{display:block;}
					.review-img{
						width:100%;height:300px;
						overflow:hidden;
						
						img{
							width:100%;
						}

						&.min{
							height:204px;
						}
					}
									
					.review-desc{
						text-align:left;
						margin-top:20px;
						.desc-title{
							display:block;
							font-size:24px;
							color:$color-black;
							font-weight:300;
							line-height:40.8px;
							font-family:$font-notoSerifKr;
						}

						.desc-text{
							margin-top:20px;
							p{
								font-size:16px;
								color:$color-black;
								display:inline-block;
								line-height:27.2px;
								font-weight:400;
								@include multipleEllipsis(3);
							}
						}
					}

				}
			}
		}



	}


}