#wrap{
	.section-member-content{
		h3{color:$color-black;}
		.tab-box{
			.tab-menu{margin-top:40px;}
			.tab-view{padding-top:40px;}
		}

		.member-search-box{
			padding:40px;
			border:1px solid $color-light-brown;
			.radio-box{
				margin-bottom:40px;
				padding-bottom:20px;
				border-bottom:1px solid $color-light-brown;
			}
			.radio-select{
				.table-row{
					border:none;
					tr{
						border:none;
						th,td{padding:0;padding:10px 0;text-align:left;}
						th{text-align:left;background-color:transparent;padding-right:12px;}
						&:first-child{
							th,td{padding-top:0;}
						}
						&:last-child{
							th,td{padding-bottom:0;}
						}

						td{
							.custom-select, .select{width:160px;margin-left:8px;}
							.custom-select-box{
								.custom-select{
									width:120px;
									margin-left:10px;
									&:first-child{margin-left:0;}
								}

								.select{
									width:120px;
									margin-left:10px;
									&:first-child{margin-left:0;}
								}
							}
							.text{
								width:280px;
								&.email{width:200px;}
							}
							.space{padding:0 8px;}
							.btn{margin-left:12px;}
						}
					}
					
				}

				.search-result-box{
					padding:40px;
					margin-top:40px;
					background-color:$color-light-brown2;
					dl{
						display:flex;align-items:center; justify-content:center;
						dt{font-size:16px;font-weight:400;color:$color-black;}
						dd{margin-left:20px;font-size:24px;font-weight:600;color:$color-brown;}
					}

					p{
						display:flex;align-items:center; justify-content:center;
						font-size:16px;font-weight:400;color:$color-black;
						strong{font-weight:600;display:inline-block;margin-left:4px;}
					}
				}
			}
			
		}
	}

	.section-login-content{
		margin-top:120px;
		.login-box{
			width:376px;
			margin:0 auto;
			text-align:center;
			.header-logo{margin-bottom:40px;}
			.form-control{
				.text{height:56px;}
				&+.form-control{
					.text{border-top:none;}
				}
			}

			.radio-box{
				margin-top:16px;
				justify-content: space-between;
				
			}
			.btn-idpw{display:inline-block;font-size:14px;font-weight:400;color:$color-black;}

			.btn-login{margin-top:24px;display:flex;align-items:center;justify-content: center;color:$color-white;height:56px;background-color:$color-black;font-weight:600;font-size:14px;}

			.info-box{
				padding-top:24px;
				margin-top:60px;
				border-top:1px solid $color-light-brown;
				dl{
					margin-top:20px;text-align:left;
					&:first-child{margin-top:0;}
					dt,dd{font-size:13px;color:$color-black;line-height:22.1px;}
					dt{font-weight:600;margin-bottom:4px;}
					dd{font-weight:400;}
				}
			}

			.action{
				.btn{
					border-color:$color-light-brown;background-color: $color-light-brown2;color:$color-black;
				}
			}
		}
	}

	.section-join-title{	
		margin-bottom:60px;
		.join-title{font-size:40px;font-weight:600;text-align:center;}
		.join-step-list{
			margin-top:40px;
			ul{
				display:flex;
				justify-content: center;
				li{
					position:relative;
					&:after{
						content:'';
						width:80px;
						height:1px;
						background-color:$color-gray;
						position:absolute;right:100px;top:12px;

					}
					width:100px;
					padding-left:80px;
					&:first-child{
						padding-left:0;
						&:after{
							display:none;
						}
					}
					.num{display:flex;justify-content:center;align-items:center;width:24px;height:24px;border-radius:50%;background-color:$color-black;color:$color-white;margin:0 auto;font-size:13px;font-weight:400;}
					p{font-size:14px;line-height:23.8px;color:$color-black;font-weight:600;margin-top:12px;text-align:center;}
					&.active{
						.num{background-color:$color-brown;}
						p{color:$color-brown;}
					}
				}
			}
		}
	}

	.section-join-content{
		h3{
			color:$color-black;
			.form-text{margin-left:20px;}
		}

		.notice-text{
			&+ .holder{
				margin-top:20px;
			}
		}

		h5{color:$color-black;}

		.notice-list{margin-bottom:20px;}

		.holder + .holder{margin-top:80px;}

		.agree-check-box{
			& + .agree-check-box{margin-top:60px;}

			.agree-box{
				height:215px;
				margin-bottom:20px;
				p{
					color:$color-black;
					@include vw(font-size,14px);
					@include vw(line-height,23.8px);
					text-align:left;
					font-weight:400;
					font-family: $font-pretendard;
					strong{font-weight:600;}
				}
				.box{
					@include vw(margin-bottom,60px);
					&:last-child{margin-bottom:0;}

					.table-row{
						margin-top:20px;
						th,td{
							padding: 8px 12px;
							@include vw(font-size,13px);
							@include vw(line-height,22.1px);
						}
						&+p{
							@include vw(margin-top, 20px);
						}
					}

					.upload-img{
						margin-top:20px;
						margin-bottom:20px;
						img{
							width:100%;
						}
					}
				}
				.heading{@include vw(margin-bottom,20px);	@include vw(font-size,16px);font-weight:600;line-height:1;}
				.border-line{
					@include vw(padding-bottom,20px);
					@include vw(margin-bottom,40px);
					border-bottom:1px solid $color-light-brown;
				}

				.notice{
					color:$color-gray;font-size:14px;font-weight:400;margin-top:8px;
				}

				&.type-list{
					height:auto;

					dl{
						display:flex;
						margin-top:8px;
						&:first-child{margin-top:0;}
						dt, dd{
							color:$color-black;
							@include vw(font-size,14px);
							@include vw(line-height,23.8px);
							text-align:left;
							font-weight:400;
						}
						dt{width:94px;margin-right:20px;}
						dd{}
					}
					
				}
	
			}


			&+.action{margin-top:60px;}
		}

		.notice-input-table{
			.color-point{margin-top:10px;}

			.checkbox-box{
				flex-wrap:wrap;
				.form-control{width:25%;}
			}

			.form-control .textarea{height:160px;}
			.custom-select-box{
				.custom-select, .select{width:120px;}
			}

			.custom-select{
				width:280px;
				&.wide{width:480px;}
			}

			.select{
				width:280px;
				&.wide{width:480px;}
			}

			.form-control{
				.text{
					width:280px;
					&.wide{width:100%;}
				}

				.fake-file-box{
					width:320px;
					.text{width:100%;}
				}

			}
			

			td{
				&.score{
					.text{width:55px;}
					.input-box{
						margin-left:36px;
						&:first-child{margin-left:0;}
						& + .input-box{margin-top:0;}
					}
				}
				&.average{
					.text{width:55px;}
					.space{
						padding:0 10px;
						&.first{padding-right:0;}
					}
				}
				&.address{
					.input-box{
						.form-control{margin-top:0;}
					}
					.form-control{margin-top:10px;}
				}

				&.university{
					.form-control + .form-control{	margin-top:10px;}

					.custom-select-box{
						margin-top:10px;
					}

					.input-box{
						margin-top:10px;
						.custom-select, .select{width:160px;margin-right:10px;}
					}
				}

				&.point{
					.text{
						width:160px;
						margin-right:5px;
					}
				}

				&.total{font-size:24px;}

				&.delivery{
					.form-text{margin-left:20px;}
				}

				.btn-map{margin-left:-24px;}
			}
		}

		.join-result-box{
			height:480px;
			display:flex;
			justify-content: center;
			align-items: center;
			background-color:$color-light-beige;
			p{
				text-align:center;
				strong{display:block;font-size:24px;font-weight:600;margin-bottom:4px;line-height:40.8px;}
				font-weight:400;font-size:16px;line-height:27.2px;
			}
			.action{
				margin-top:40px;
			}

		}

	}
}