#wrap{
	.section-mypage{
		.wrap{
			display:flex;
			width:1200px;
			margin:0 auto;
			.sidebar{
				width:274px;
				a{display:inline-block;}

				.menu-title{font-size:40px;font-weight:600;color:$color-black;}
				.menu-item{
					margin-top:40px;
					>a{font-size:20px;font-weight:600;color:$color-black;}
					.submenu{
						.submenu-item{
							a{font-size:16px;font-weight:400;color:$color-gray;line-height:27.2px;}
							margin-top:8px;
							&:first-child{margin-top:16px;}
							&:hover, &.active{
								a{
									color:$color-brown;
									font-weight:600;
								}
							}

						}
					}
				}

			}
			.content{
				margin-left:35px;width:891px;
				h3{color:$color-black;padding-bottom:40px;padding-top:10px;}

				.total-number-box{
					display:flex;
					justify-content: space-between;
					margin-bottom:20px;
					.total{
						font-size:16px;
						font-weight:400;
						color:$color-black;
					
						strong{
							font-weight:600;
							color:$color-brown;
							display:inline-block;
							margin-left:3px;
						}
					}
			
					.device{
						display:flex;
						align-items: center;
						font-size:13px;
						font-weight:400;
						color:$color-black;
						.icon{
							display:inline-block;
							margin-right:4px;
						}
					}
				}

				.tab-box{
					.tab-menu{
						margin-top:0;
						ul{
							position:static;
							width:100%;
							transform:translateX(0);
						}
					}

					.tab-view{
						padding-top:40px;
					}
				}

				.lecture-data-list{
					.course-list {
						.col{
							padding:20px;
							&:first-child{padding-right:0;}
							&:last-child{padding-left:0;margin-left:auto;}
						}

						.subject{
							width:80px;
						}
						.desc-box{
							width:auto;
							.t-img + .t-desc{
								margin-left:24px;
							}

							.t-desc .desc-title{
								width:519px;
							}
						}
						.action-box{
							.btn{
								width:128px;margin-top:8px;
								margin-left:0;padding:0;
								&:first-child{margin-top:0;}
							}
						}
					}
				}

				
			}
		}
	}
}