#wrap{
    // LEFT 인강
	.section-online-content{
		margin-top:120px;
		.select-box{
			background-color:$color-white;
			padding-top:68px;
			padding-bottom:60px;
			.btn-search{
				background-color:rgba(80, 75, 66, 1);

			}
		}
		.category-box{
			padding:0;
			background-color:$color-white;
		}

		.category-list{
			padding-bottom:88px;
			margin-top:24px;
			width:100%;
			ul{
				display:flex;
				li{
					margin-right:8px;
					width:auto !important;
					&:first-child{
						a{
							border-left:0;
						}
					}
					a{
						display:inline-block;
						padding: 4px 16px 16px;
						height:43px;
						font-size:15px;
						font-weight:400;
						line-height:22.5px;
						border:none;
						color:$color-light-gray;
						@include boxSizing(border-box);
					}
					&.active, &:hover{
						a{
							color:$color-black;
							background-color:$color-white;
							border-bottom:2px solid $color-black;
						}
					}
				}
			}
		}

		.lecture-data-list{
			//margin-top:80px;
			&+.action{margin-top:40px;}
		}
        .tab-view{
            .lecture-data-list{
				//margin-top:0;
				.course-list{
					&:first-child{}//border-top:none;	margin-top:0px;}
				}
			}

			.category-box +  .lecture-data-list,
			.select-box +   .lecture-data-list{
				.course-list{
					&:first-child{}//border-top:1px solid $color-light-brown;margin-top:40px;}
				}
			}
        }
    }

	.section-online-slide{
		margin-top:0px;
		.season-slider{
			.slick-slide{
				margin-left:24px;
				width:588px;
				img{width:100%;}
			}

			.list{
				a{display:block;}
			}
		}
	}

    // 온라인 서점
	.section-online-title{
		margin-bottom:80px;
	}
    .section-online-bookstore{
		.slick-arrow {
			@extend %slick-arrow;
			border-radius:50%;
	
			&.slick-prev{
				@include slideArrow(left, 64px, 64px, 1px, $color-black, $color-light-beige, $margin: 635px);
				&:before{
					width:8px;height:8px;
				}
	
				top:128px;
				transform: translateY(0);
			}
			&.slick-next{
			   @include slideArrow(right, 64px, 64px, 1px, $color-black,$color-light-beige, $margin: 635px);
			   &:before{
					width:8px;height:8px;
				}
	
				top:128px;
				transform: translateY(0);
			}
		}

        .tab-box{
			.tab-menu{
				margin-top:0;
			}
		}

        .lecture-data-list{
            .book-list{
                .desc-box{
                    width:725px;
                    .t-img{
						width:168px;height:168px;
						background-color:$color-light-brown2;
						overflow:hidden;
						img{
							width:68px;height:96px;
						}
					}
                }

                .price{width:355px;}
            }
        }

        .tab-slide{
			.online-slider{
				.slick-slide{
					margin:0 18px;
				}

				.list{
					a{display:block;
					}
					.book-img{
						display:flex;
						justify-content:center;
						align-items: center;
						background-color:$color-light-brown2;
						width:273px;height:320px;
						overflow:hidden;
						
						img{
							width:120px;
							height:168px;
						}
					}

					&:hover{
						.book-img{
							background-color:$color-light-brown;
						}
					}

					.book-desc{
						text-align:left;
						margin-top:20px;
						.desc-title{
							position:relative;
							display:inline-block;
							font-size:18px;
							color:$color-black;
							font-weight:600;
							line-height:27px;
							width:273px;
							@extend %textEllipsis;
						}

						.desc-text{
							font-size:13px;
							color:$color-black;
							line-height:1;
							display:flex;
							p{
								margin-top:4px;
								position:relative;
								display:inline-block;
								padding-right:8px;
								margin-right:8px;
								vertical-align:middle;
								font-weight:400;
								strong{
									display:inline-block;
									font-weight:600;
									color:$color-brown;
									margin-left:4px;
								}
								&:after{
									content:'';
									width:1px;
									height:12px;
									background-color:$color-light-brown;
									position:absolute;right:0;top:50%;margin-top:-6px;
		
								}
								
								&:last-child{
									&:after{display:none;}
								}
							}
						}



					}

				}
			}

        }

		.notice-list-table {
			.table-row tr td.link{
				line-height:1;
				a{
					width:960px;
					overflow:hidden;
					@extend %textEllipsis;
					line-height:1;
					vertical-align:middle;
					.icon-new{top:0;}
				}
			}
		}
    }
}