#wrap{
	.section-promotion-title{
		padding: 20px 0 60px;
		text-align:center;
		.head-copy{
			color:$color-gray;
			font-size:22px;
			font-weight:600;
			line-height:1.7;
			margin-bottom:40px;
		}
		.main-copy{
			color:$color-black;
			font-size:60px;
			font-family:$font-notoSerifKr;
			font-weight:200;
			line-height:1.5;
		}
	}
	.section-promotion-curriculum{
		.wrap{
			border-top:1px solid #DCDCDB;
			padding-top:70px;
			&:first-child {
				border-top: none;
				padding-top: 0;
			}
		}
		.curriculum-list{
			display:flex;
			padding-bottom:100px;
			&.pb-0 {
				padding-bottom: 0;
			}
			.curriculum-title{
				width:273px;
				color:$color-black;
				font-size:20px;
				font-weight:600;
				line-height:1.7;
				strong {
					font-size: 28px;
					font-weight: 900;
					color: #0084FF;
				}
				span {
					display: block;
					font-size: 11px;
					margin-top: 16px;
				}
			}
			.curriculum-content{
				width:892px;
				margin-left:36px;
				.img-box{
					img{width:100%;}
					+ .img-box {
						margin-top: 20px;
					}
					+ p {
						margin-top: 80px;
					}
				}
				p{
					color:$color-black;
					font-size: 18px;
					font-weight: 700;
					line-height:1.7;
					margin-bottom: 53px;
					strong{
						font-weight:600;
					}
					.underline{
						//border-bottom:2px solid $color-black;
						font-weight:600;
						text-underline-offset: 3px;
						text-decoration: underline solid 1px;
					}
				}

				.list{
					li{
						color:$color-black;
						font-size:18px;
						font-weight:400;
						line-height:1.7;
					}
				}

				.badge{
					display:inline-block;
					margin-bottom:22px;
					font-size:14px;
					height: 24px;
					padding:0 6px;
					line-height:24px;
				}

				.video-box{
					position:relative;
					width:100%;
					height:447px;
					margin-bottom: 40px;
					a{
						display:block;
						position:relative;
						img{width:100%;}
						&:after{
							content:'';
							position:absolute;left:0;right:0;top:0;bottom:0;width:100%;height:100%;z-index:1;
							background: url(../images/promotion/btn_play.svg) no-repeat 50% 50%;
							background-size:100px 100px;
						}

						.video-text{
							position:absolute;left:0;bottom:40px;
							width:100%;
							text-align:center;
							color:#fff;
							font-size:30px;
							line-height:1.7;
							font-weight:500;
						}
					}
				}

				.table-box{
					margin-top:40px;
					table{
						width:100%;
						thead{
							th{
								background-color:$color-light-brown;
								border-left:1px solid $color-light-beige;
								color:$color-black;
								font-weight:600;
								font-size:14px;
								padding:12px 0;
								vertical-align:center;
							}
						}

						tbody{
							th,td{text-align:center;padding:14px 0;vertical-align:center;}
							th{
								border-bottom:1px solid $color-light-brown;
								color:$color-black;
								font-weight:600;
								font-size:14px;
								background-color:$color-light-brown2;
							}
							td{
								border-left:1px solid $color-light-brown;
								border-bottom:1px solid $color-light-brown;
								color:$color-black;
								font-size:16px;
								font-weight:600;
								
								&.empty{
									background-color:$color-light-beige;
								}
							}
						}
					}
				}

				.history {
					text-align: center;
					padding: 0 48px 40px;
					p {
						margin-bottom: 0;
					}
					ul {
						display: flex;
						gap: 40px;
						li {
							display: flex;
							align-items: center;
							justify-content: center;
							padding: 12px 40px;
						}
					}
					&-logo {
						width: 80px;
						margin-right: 20px;
						img {
							width: 100%;
						}
					}
					&-text {
						p {
							font-size: 18px;
							line-height: 1.7;
						}
					}
					&-content {
						span {
							font-size: 16px;
						}
						p {
							font-family: $font-notoSerifKr;
							font-size: 26px;
							font-weight: 600;
						}
						small {
							font-size: 14px;
						}
					}
				}
				
				.number-list {
					strong {
						font-size: 20px;
						font-weight: 700;
					}
					.list {
						padding: 40px;
						border: 1px solid #e4ded3;
						ul {
							margin: 0 24px;
							margin-top: 12px;
						}
					}
				}

				.step {
					padding: 40px 60px;
					border: 1px solid #7A746A;
					background: #FBFAF6;
					span {
						font-size: 24px;
						font-weight: 700;
						line-height: 1.7;
					}
					ul {
						margin-top: 12px;
						margin-bottom: 48px;
						&:last-child {
							margin-bottom: 0;
						}
						li {
							position: relative;
							font-size: 16px;
							line-height: 2;
							font-weight: 700;
							padding-left: 12px;
							&:before {
								content: "·";							
								position: absolute;
								left: 0;
							}
						}
					}
				}

				.recommend {
					&-table {
						border-top: 1px solid $color-light-brown;
						.list {
							display: flex;
							line-height: 2;
							border-bottom: 1px solid $color-light-brown;
							&-title {
								padding: 24px 0;
								p {
									width: 224px;
									font-size: 16px;
									line-height: 2;
									font-weight: 700;
									margin-right: 40px;
									margin-bottom: 0;
								}
							} 
							&-text {
								padding: 24px 0;
								span {
									font-size: 16px;
									line-height: 2;
								}
							}
							&-depth {
								.list-title {
									p {
										width: 120px;
										margin-right: 0;
									}
								}
								.list-text {
									padding: 24px 40px;
									border-left: 1px solid $color-light-brown;
									ul {
										li {
											display: flex;
											align-items: center;
											margin-bottom: 24px;
											&:last-child {
												margin-bottom: 0;
											}
											p {
												width: 80px;
												font-size: 16px;
												font-weight: 700;
												line-height: 2;
												margin-right: 24px;
												margin-bottom: 0;
											}
											span {
												font-size: 16px;
												line-height: 2;
											}
										}
									}
								}
							}
						}
					}
					&-type {
						margin-top: 60px;
						ul {
							li {
								position: relative;
								font-size: 18px;
								font-weight: 400;
								line-height: 2;
								padding-left: 12px;
								&:before {
									content: "·";
									position: absolute;
									left: 0;
								}
							}
						}
					}
				}
			}
		}
		
	}
	.section-promotion-profile{
		padding-bottom: 200px;
		.img-box{
			img{max-width:100%;}
		}

		.profile-title {
			margin-top: 100px;
			p {
				font-size: 32px;
				font-weight: 400;
				line-height: 1.5;
				span {
					display: inline-block;
					vertical-align: top;
					font-size: 12px;
					font-weight: 400;
					color: #888;
					line-height: 1.5;
					margin-top: 6px;
					margin-left: 2px;
				}
			}
		}

		.profile-box{
			position: relative;
			padding-top:80px;
			.menu-box{
				position: absolute;
				left: 0;
				width:162px;
				.menu-title{
					border-bottom:1px solid $color-light-brown;
					font-weight:600;
					padding-bottom:24px;
					line-height:1.7;
					font-size:24px;
				}
				.menu-list{
					li{
						border-bottom:1px solid $color-light-brown;
						font-size:16px;
						line-height:1.7;
						color:$color-black;
						font-weight:400;
						padding:10px 0;
					}
				}
			}
		}
	}

	.section-promotion-story{
		.wrap{
			padding-bottom:60px;
			padding-top:80px;
			border-top:1px solid #DCDCDB;
		}
	
		.story-box{
			display:flex;
			justify-content: space-between;
			.text-box{
				font-size:20px;
				line-height:2;
				color:$color-black;
				font-weight:400;
				letter-spacing:-1px;
			}
			.menu-box{
				width:170px;
				.menu-title{
					border-bottom:1px solid $color-light-brown;
					font-weight:600;
					padding-bottom:20px;
					line-height:1.7;
					font-size:16px;
				}
				.menu-list{
					li{
						border-bottom:1px solid $color-light-brown;
						font-size:14px;
						line-height:1.7;
						color:$color-black;
						font-weight:400;
						padding:10px 0;
					}
				}
			}
		}
	
	}


	.section-promotion-banner{
		img{width:100%;}
	}

	.section-promotion-lecture{
		padding-top:120px;
	}
}