#wrap{
    .section-teacher-home{
        .teacher-home-detail {
            display: flex;
            margin-bottom: 160px;
            img {
                width: 100%;
                height: 100%;
            }

            .t {
                &-thumb {
                    min-width: 344px;
                    height: 436px;
                }
                &-content {
                    width: calc(100% - 344px);
                    padding-left: 80px;
                    box-sizing: border-box;
                    &-title {
                        display: flex;
                        align-items: center;
                        &-label {
                            margin-right: 32px;
                            padding: 16px;
                            border: 1px solid #2c2923;
                            p {
                                font-size: 32px;
                                font-weight: 200;
                            }
                        }
                        &-desc {
                            p {
                                font-size: 32px;
                                font-weight: 200;
                            }
                            a {
                                font-size: 14px;
                                color: #bebebc;
                            }
                        }
                    }
                    &-notice {
                        margin: 72px 0 32px;
                        ul {
                            li {
                                margin-bottom: 16px;
                                &:last-child {
                                    margin-bottom: 0;
                                }
                                a {
                                    position: relative;
                                    display: block;
                                    width: 100%;
                                    font-size: 16px;
                                    padding-right: 90px;
                                    overflow: hidden;
                                    white-space: nowrap;
                                    text-overflow: ellipsis;
                                    box-sizing: border-box;
                                    span {
                                        position: absolute;
                                        top: 50%;
                                        right: 0;
                                        font-size: 12px;
                                        font-weight: 400;
                                        transform: translateY(-50%);
                                    }
                                }
                            }
                        }
                    }
                }
                &-curriculum {
                    &-list {
                        ul {
                            padding: 24px 0;
                            border: 1px solid #E4DED3;
                            border-left: none;
                            border-right: none;
                            li {
                                a {
                                    display: flex;
                                    align-items: center;
                                    margin-bottom: 8px;
                                }
                            }
                        }
                    }
                    &-thumb {
                        width: 96px;
                        margin-right: 24px;
                    }
                    &-text {
                        p {
                            font-size: 18px;
                            font-weight: 600;
                        }
                        span {
                            font-size: 15px;
                            font-weight: 400;
                        }
                    }
                }
            }
        }

        .tab-menu{
			width:100%;
			border-bottom:1px solid $color-light-brown;
			height:43px;
			margin-top:40px;
			ul{
				display:flex;
				li{
					margin-right:8px;
					width:auto !important;
					a{
						display:inline-block;
						padding: 4px 16px 16px;
						height:43px;
						font-size:15px;
						font-weight:400;
						line-height:22.5px;
						border:none;
						background-color:transparent;
					}
					&.active{
						a{
							background-color:$color-white;
							border-bottom:2px solid $color-black;
						}
					}
				}
			}
		}

        .curriculum {
            &-video {
                &-thumb {
                    margin: 80px 0 48px;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            &-step{
                 margin-bottom: 160px;
            }

            &-table {
                margin: 80px 0 160px;
                table {
                    width: 100%;
                    font-size: 15px;
                    font-weight: 600;
                    thead {
                        tr {
                            border-bottom: 1px solid #E4DED3;
                        }
                        th {
                            padding: 12px 0;
                            border-right: 1px solid #E4DED3;
                            background: #F2EFE7;
                            &:last-child {
                                border-right: 0;
                            }
                        }
                    }
                    tbody {
                        tr {
                            border-bottom: 1px solid #E4DED3;
                        }
                        th {
                            text-align: left;
                            padding: 24px;
                            border-right: 1px solid #E4DED3;
                            background: #FBF9F4;
                        }
                        td {
                            padding: 24px 16px;
                            border-right: 1px solid #E4DED3;
                            &:last-child {
                                border-right: none;
                            }
                            span {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }

            &-book {
                margin: 80px 0 160px;
                .list {
                    margin-bottom: 80px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
                .book-title {
                    font-size: 28px;
                    font-weight: 300;
                    color: #2c2923;
                    margin-bottom: 16px;
                }
                ul {
                    display: flex;
                    gap: 20px;
                    li {
                        width: 224px;
                        padding: 32px 24px;
                        background: #FBFAF6;
                        box-sizing: border-box;
                        .book-thumb {
                            width: 122px;
                            margin: 0 auto;
                            transition: all .5s;
                            img {
                                width: 100%;
                            }
                        }
                        .book-text {
                            font-size: 15px;
                            font-weight: 600;
                            text-align: center;
                            margin-top: 16px;
                        }
                        &:hover {
                            .book-thumb {
                                filter: brightness(0.8);
                            }
                        }
                    }
                }
            }

            &-list {
                display: flex;
                gap: 0 15px;
                &-wrap {
                    padding: 120px 0;
                    background: #242321;
                }
                .list {
                    width: 390px;
                    img {
                        width: 100%;
                    }
                    .video {
                        &-text {
                            color: #fff;
                        }
                        &-desc {
                            font-size: 18px;
                            font-weight: 600;
                            margin: 16px 0 4px;
                        }
                        &-title {
                            display: -webkit-box;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            word-break: break-word;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
                            color: #aaa;
                            font-weight: 500;
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }


}