#wrap {
    font-family: $font-pretendard;
    color: $color-black;
	font-weight:600;
	background-color:$color-white;

	img{max-width:100%;}
	a{display:inline-block;}

	.color-red {
        color: #E50000 !important;
    }

    .text-left{text-align:left !important;}

	.scroll{
		overflow: hidden;
		white-space: nowrap;
		overflow-x: auto;
		width:100%;
		display: flex;
		align-items:center;
		&::-webkit-scrollbar {
			display: none;
		}
	}

	h3{
		font-weight:600;
		color:$color-brown;
		@include vw(font-size,16px);
		@include vw(line-height,27.2px);
		@include vw(margin-bottom,8px);
	}

	.nodata-box{
        display:flex;
        justify-content: center;
        align-items: center;
        text-align:center;
        @include vw(min-height,184px);
        .icon{@include vw(margin-bottom,8px);}
        p{
            color:$color-black;
			@include vw(font-size,14px);
            font-weight:400;
			@include vw(line-height,23.8px);
        }
    }

	.form-control {
		font-size:0;
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            margin: 0;
            -webkit-appearance: none;
            appearance: none;
        }
        input[type="number"] { -moz-appearance: textfield; }

		.select {
            display: inline-block;
            font-size: 0;
            background: url('../images/icon_select_arrow.svg') no-repeat 98% center;
            @include vw(background-size, 20px 20px);
			@include vw(width,160px);
            select {
                width: 100%;
				@include vw(height,28px);
                @include vw(padding, 4px 8px);
                @include vw(font-size,10px);
                font-weight:400;
                border: 1px solid $color-light-brown;
                color: $color-black; 
                -webkit-appearance: none;
                appearance: none;
                font-family:$font-pretendard;
                @include boxSizing(border-box);
                &::-ms-expand { display: none; }
                &::placeholder { color: $color-black; }
               
            }
        }

        .textarea {
            width: 100%;
            @include vw(height, 396px);
            @include vw(padding, 16px);
            @include vw(font-size,14px);
            font-weight:400;
            @include vw(line-height,23.8px);
            @include vw(border-width, 1px);
            border-style: solid;
            border-color: $color-light-brown;
            resize: none;
            @include boxSizing(border-box);
            color:$color-black;
            font-family:$font-pretendard;
            &::placeholder { color: $color-light-gray;@include vw(font-size,14px);font-weight:400; }
           
        }

        .fake-save-box{
            position:relative;
            .fake-input {
				width:100%;
				border:1px solid $color-light-brown;
				@include vw(padding, 12px 54px 12px 8px);

                &::placeholder{color:$color-light-gray;}
            }

            .fake-btn {
				position:absolute;@include vw(right,12px);
				top: 50%;
				transform: translateY(-50%);
                label {
					display:flex;
                    justify-content: center;
                    align-items: center;
                    @include vw(width,35px);
                    @include vw(height,26px);
                    text-align: center;
                    @include vw(font-size,13px);
                    color: $color-black;
					border:1px solid $color-light-brown;
                    cursor: pointer;
					font-weight:400;
					@include vw(border-radius,2px);
                   
                }
            }
        }
	}

    .table-row{
		width:100%;
		border-top:1px solid $color-light-brown;
        @include boxSizing(border-box);
		tr{
			border-bottom:1px solid $color-light-brown;
            @include boxSizing(border-box);
			th,td{
				@include vw(padding,8px 16px);
				text-align:center;
				color:$color-black;
				@include vw(font-size,14px);
				@include vw(line-height,23.8px);
				font-weight:400;
                @include boxSizing(border-box);
                word-break: break-all;
			}

			th{background-color:$color-light-brown2;font-weight:600;}
			
		}

	}

    .btn{
        display:flex;
        justify-content: center;
        align-items:center;
        @include vw(height, 38px);
        @include vw(padding,0 16px);
        font-weight:400;
        @include vw(font-size,13px);
        color:$color-black;
        border:1px solid $color-light-brown;
        background-color:$color-white;
        @include vw(border-radius,2px);
        strong{
            font-weight:600;
        }

        &.btn-brown{
            background-color:$color-brown;
            color:$color-white;
            border-color:$color-brown;
        }

        &.btn-light-brown{
            background-color:$color-light-brown;
        }

        &.full{
            width:100%;
        }

		&.btn-video{
			display:block;
			background: $color-white url('../images/mobile/icon_play_arrow.svg') no-repeat 8px center;
			@include boxSizing(border-box);
			@include vw(min-width, 89px);
			@include vw(height, 38px); 
			@include vw(line-height, 38px); 
			@include vw(padding-left,32px);
		}

        &.btn-download{
			display:block;
			background: $color-white url('../images/mobile/icon_down_brown.svg') no-repeat 8px center;
			@include boxSizing(border-box);
			@include vw(min-width, 89px);
			@include vw(height, 38px); 
			@include vw(line-height, 38px); 
			@include vw(padding-left,32px);
		}
    }

    .action{
		display:flex;
		justify-content:  flex-end;
		align-items: center;

		&.flex-start{justify-content: flex-start;}
		&.flex-center{justify-content: center;}
		&.flex-end{justify-content: flex-end;}
        &.flex-between{justify-content: space-between;}



    }
}