#wrap{
	.section-error{
		width:100vw;
		height:100vh;
		display:flex;
		justify-content: center;
		align-items: center;
		text-align:center;
		h3{	text-align:center;color:$color-black;@include vw(font-size,24px);@include vw(line-height,40.8px);@include vw(margin-bottom,20px);}
		.date-box{
			display:inline-block;
			@include vw(padding,20px);
			color:$color-black;
			@include vw(font-size,14px);
			font-weight:600;
			@include vw(line-height,23.8px);
			background-color:$color-light-brown2;
			@include vw(margin-bottom,20px);
		}
		.text-box{
			p{
				@include vw(font-size,14px);
				@include vw(line-height,23.8px);
				color:$color-gray;
				font-weight:400;
			}
		}

		.action{
			@include vw(margin-top,20px);

			a{
				display:flex;
				justify-content: center;
				align-items: center;
				@include vw(font-size,14px);
				font-weight:400;
				width:100%;
				@include vw(height,56px);
				border:1px solid $color-light-brown;
				max-width:335px;
				margin:0 auto;
			}
		}

	}
}