#wrap {


	.wrap {
		position:relative;
		width:100%;
		@include vw(padding,0 20px);
		min-width:320px;
		@include boxSizing(border-box);

	
		
    }
	
	.header-top-banner{
		position:relative;
		display:none;
		&.active{
			display:block;
		}

		background-color:#e4ded3;
		color:$color-black;
		font-size:14px;
		font-weight:400;
		padding:14px 0;
		text-align:center;

		a{display:inline-block;}

		.banner-close{
			@include close(30px, 30px, 0.5px,$color-black);
			top:50%;
			margin-top:-15px;
			margin-left:500px;
		}
	}

	#header {
        position: relative;
        text-align: center;
        vertical-align: middle;
		
		.header-main{
			background-color:$color-dark-black;
			//border-bottom:1px solid $color-light-black;
			.wrap{
				display:flex;
				@include vw(height,68px);
				align-items:center;
			}
		
			
			.header-logo{
				a{
					display:flex;
					align-items:center;
				}
			}

			.header-util{
				margin-left:auto;
				display:flex;
				align-items:center;
				#menu{
					@include vw(padding,8px 8px 10px 8px);
					.menu-icon {
						position : relative;
						width : 20px;
						height : 18px;
						display:block;
						z-index:11;

						span {
							position : absolute;
							left : 0;
							width : 100%;
							height : 1px;
							background-color : $color-light-beige;
							display : inline-block;
							transition : all .4s;
							box-sizing : border-box;
							&:nth-of-type(1) {top : 0px;}
							&:nth-of-type(2) {top : 8px;}
							&:nth-of-type(3) {bottom : 0px;}
						}
				
						&.active{
							span{
								background-color : $color-black;
								&:nth-of-type(1) {
									-webkit-transform : translateY(8px) rotate(-45deg);
									transform : translateY(8px) rotate(-45deg);
								}
				
								&:nth-of-type(2) {
									left : 50%;
									opacity : 0;
									-webkit-animation:active-menu-bar .8s forwards;
									animation : active-menu-bar .8s forwards;
								}
				
								&:nth-of-type(3) {
									-webkit-transform : translateY(-8px) rotate(45deg);
									transform : translateY(-8px) rotate(45deg);
								}
							}
						}
				
					}
				
					@-webkit-keyframes active-menu-bar {
						100% {
							height : 0;
						}
					}
					@keyframes active-menu-bar{
						100% {
							height : 0;
						}
					}
				}

				>a{
					@include vw(margin-left,6px);
				}
			}
		}

		.header-layer-gnb{
			display:block;
			position:absolute;right:100%;top:0;z-index:10;
			background-color:#fff;
			height:100vh;
			width:100%;
			transition: 0.5s ease-in;
			overflow-y:auto;
			.header-login{
				@include vw(margin-top,69px);
				@include vw(padding,19px 24px 32px);

				.login, .logout{
					display:flex;
					justify-content: space-between;
					align-items: flex-end;
					a{
						strong{
							font-weight:600;@include vw(font-size,24px);color:$color-black;
							//@include vw(line-height,40.8px);
							line-height:1;
							
						}
						span{border-bottom:1px solid $color-gray;font-weight:400;@include vw(font-size,14px);@include vw(line-height,23.8px);color:$color-gray;}
					}
				}

				.logout{
					a{
						strong{
							@include vw(padding-right,30px);
							@include arrow(right, 6px, 6px, 1px, $color-black);
							
						}
					}
				}
			}

			.header-myInfo{
				@include vw(padding,0px 24px 32px);
				display:flex;
				//justify-content: space-between;
				dl{
					display:flex;
					align-items:center;
					justify-content: center;
					dt{
						span{
							display:inline-block;vertical-align:middle;@include vw(margin-left,8px);
							@include vw(font-size,14px);
						}
					}
					dd{
						@include vw(font-size,14px);color:$color-brown;
						font-weight:600;@include vw(margin-left,7px);
					}

					&:first-child{
						@include vw(padding-right,20px);
						@include vw(margin-right,20px);
						border-right:1px solid  $color-light-brown;


					}
				}
			}

			.gnb-list, .util-list{
				@include vw(padding,32px 24px);
				li{
					text-align:left;
					@include vw(margin-top,24px);
					&:first-child{
						margin-top:0;
					}
					a{
						width:100%;
						color:$color-black;
						font-weight:400;@include vw(font-size,18px);@include vw(line-height,27px);
						@include arrow(right, 8px, 8px, 1px, $color-gray);
						&:before{
							right:0;
						}

						
					}
				}
			}

			.gnb-list{
				border-top:1px solid $color-light-brown;
			}

			.util-list{
				@include vw(padding,0px 24px 32px);
				li{
					&:first-child{
						@include vw(padding-top, 32px);
						border-top:1px solid $color-light-brown;
					}
				}
			}
		}

		.btn-layer-close{
			position:absolute;z-index:10;
			@include vw(top,16px);
			@include vw(right,20px);
		}

		.header-layer-mypage{
			display:block;
			position:absolute;right:100%;top:0;z-index:11;
			background-color:#fff;
			height:100vh;
			width:100%;
			transition: 0.5s ease-in;
			@include vw(padding,0 24px);
			@include boxSizing(border-box);
			overflow-y:auto;
			.header-mypage-title{
				font-weight:600;@include vw(font-size,24px);@include vw(line-height,40.8px);color:$color-black;
				@include vw(padding,88px 0 8px);
				text-align:left;
			}

			.header-mypage-gnb{
				.header-mypage-menu{
					text-align:left;@include vw(padding,24px 0 24px);
					border-top:1px solid $color-light-brown;
					&:first-child{
						border-top:none;
					}
					.mypage-main-menu{color:$color-brown;font-weight:600;@include vw(font-size,13px);@include vw(margin-bottom,16px);}
					.mypage-sub-menu{
						
						li{
							@include vw(margin-top,16px);
							&:first-child{
								margin-top:0;
							}

							a{
								width:100%;
								color:$color-black;
								font-weight:400;@include vw(font-size,18px);@include vw(line-height,27px);	
								
							}
						}
					}

				}
			}

			.header-myInfo{
				@include vw(padding,0px 24px 32px);
				display:flex;
				//justify-content: space-between;
				dl{
					display:flex;
					align-items:center;
					justify-content: center;
					dt{
						span{
							display:inline-block;vertical-align:middle;@include vw(margin-left,8px);
							@include vw(font-size,14px);
						}
					}
					dd{
						@include vw(font-size,14px);color:$color-brown;
						font-weight:600;@include vw(margin-left,7px);
					}

					&:first-child{
						@include vw(padding-right,20px);
						@include vw(margin-right,20px);
						border-right:1px solid  $color-light-brown;


					}
				}
			}

			.gnb-list, .util-list{
				@include vw(padding,32px 24px);
				li{
					text-align:left;
					@include vw(margin-top,24px);
					&:first-child{
						margin-top:0;
					}
					a{
						width:100%;
						color:$color-black;
						font-weight:400;@include vw(font-size,18px);@include vw(line-height,27px);
						@include arrow(right, 8px, 8px, 1px, $color-gray);
						&:before{
							right:0;
						}

						
					}
				}
			}

			.gnb-list{
				border-top:1px solid $color-light-brown;
			}

			.util-list{
				@include vw(padding,0px 24px);
				li{
					&:first-child{
						@include vw(padding-top, 32px);
						border-top:1px solid $color-light-brown;
					}
				}
			}
		}

		.header-gnb{
			background-color:$color-dark-black;
			ul{
				overflow: hidden;
				white-space: nowrap;
				overflow-x: auto;
				display: flex;
				align-items:center;
				width: 100%;
				@include vw(height, 43px);
				margin: 0 auto;
				box-sizing: border-box;
				border-bottom:1px solid $color-light-brown;
				&::-webkit-scrollbar {
					display: none;
				}

				li{
					position:relative;
					display: flex;
					align-items:center;
					height:100%;
					@include vw(margin-right,20px);
					&:first-child{
						@include vw(margin-left,20px);
					}
					a{
						display:inline-block;
						font-weight:600;@include vw(font-size,16px);
						@include vw(line-height,27.2px);
						color:rgba(154, 154, 154, 1); // #9a9a9a

					}

					&.active{
						a{color:$color-white;}
						&:after{
							content:'';
							display:block;
							width:100%;
							@include vw(height,2px);
							background-color:$color-white;
							position:absolute;left:0;bottom:0;
						}
						
					}
				}
			}
		}

		.header-nav{
			ul{
				overflow: hidden;
				white-space: nowrap;
				overflow-x: auto;
				display: flex;
				align-items:center;
				width: 100%;
				@include vw(height, 48px);
				margin: 0 auto;
				box-sizing: border-box;
				border-bottom:1px solid $color-light-brown;
				&::-webkit-scrollbar {
					display: none;
				}
				
				li{
					@include vw(margin-right,20px);
					&:first-child{
						@include vw(margin-left,20px);
					}
					a{
						color:$color-gray;
						font-weight:400;@include vw(font-size,15px);
						@include vw(line-height,25.5px);
					}

					&.active{
						a{
							color:$color-brown;
							font-weight:600;
						}
					}
				}
			}
		}

		.header-search{
			position:fixed;left:0;top:0;right:0;bottom:0;
			width:100vw;
			height:100vh;
			background-color:$color-white;
			z-index:10;
			display:none;

			.search-box{
				position:relative;
				display: flex;
				align-items:center;
				justify-content: flex-start;
				width: 100%;
				@include vw(height, 72px);
				.header-search-close{
					position:absolute;top:50%;transform:translateY(-50%);
					left:0;
				}

				.search-text{
					position:relative;
					display:flex;
					align-items:center;
					border:1px solid $color-light-brown;
					@include vw(height, 48px);
					@include boxSizing(border-box);
					@include vw(margin-left,40px);
					width:100%;
					input[type=text]{
						width:100%;
						height:100%;
						vertical-align:middle;
						border:none;
						@include boxSizing(border-box);
						@include vw(padding,0 36px 0 16px);
						color:$color-black;
						@include vw(font-size,16px);
						font-weight:600;
						&::placeholder{
							color:$color-light-gray;
							@include vw(font-size,16px);
							font-weight:400;
						}
					}
	
					.search-cancel{
						display:none;
						position:absolute;top:50%;transform:translateY(-50%);
						@include vw(right,8px);
					}
				
				}



				.search-action{
					@include vw(margin-left,8px);
					a{
						@include vw(width,32px);
					}
				}
	
				
			}

			.search-nodata{
				display:flex;
				justify-content: center;
				align-items: center;
				text-align:center;
				width:100%;
				height:87vh;
				.icon{@include vw(margin-bottom,8px);}
				p{
					color:$color-black;
					@include vw(font-size,14px);
					font-weight:400;
					@include vw(line-height,27.2px);
				}
			}

		}
    }


	#contents {
		@extend %clearfix; 
		@include vw(min-height,300px);
		@include boxSizing(border-box);
		@include vw(padding-bottom,100px);
		&.main{
			padding-bottom:0;
			.wrap{
				max-width:375px;
				margin:0 auto;
			}

			.slider{
				max-width:375px;
				margin:0 auto;
				@include vw(padding-left,20px);
			}
		}

		.section-header{
			.header-title{
				position:relative;
				border-bottom:1px solid $color-light-brown;
				display: flex;
				align-items:center;
				justify-content: center;
				width: 100%;
				@include vw(height, 60px);
				
	
				.btn-back{
					position:absolute;top:50%;transform:translateY(-50%);
					@include vw(left,14px);
				}
	
				h2{
					a{
						color:$color-black;
						font-weight:600;@include vw(font-size,18px);
						@include vw(line-height,27px);
					}
				}
			}
	
			.header-tab{
				ul{
					overflow: hidden;
					white-space: nowrap;
					overflow-x: auto;
					display: flex;
					align-items:center;
					width: 100%;
					@include vw(height, 50px);
					margin: 0 auto;
					box-sizing: border-box;
					border-bottom:1px solid $color-light-brown;
					&::-webkit-scrollbar {
						display: none;
					}
	
					li{
						position:relative;
						display: flex;
						align-items:center;
						height:100%;
						@include vw(margin-right,20px);
						&:first-child{
							@include vw(margin-left,20px);
						}
						a{
							display:inline-block;
							font-weight:400;@include vw(font-size,15px);
							@include vw(line-height,25.5px);
							color:rgba(80, 75, 66, 1); //#504b42;
						}
	
						&.active{
							&:after{
								content:'';
								display:block;
								width:100%;
								@include vw(height,2px);
								background-color:$color-black;
								position:absolute;left:0;bottom:0;
							}
	
							a{
								color:$color-black;
								font-weight:600;
							}
							
						}
					}
				}
			}
		}
   }

    #footer {
		background-color:$color-dark-black;
		.footer-top{
			//border-top:1px solid $color-light-brown;
			@include vw(padding,32px 0 24px);

			.footer-list{
				display:flex;
				align-items:center;
				li{
					a{
						font-weight:400;color:rgba(221, 221, 221, 1);
						position:relative;
						display:inline-block;
						@include vw(font-size,13px);
						@include vw(padding-right,16px);
						@include vw(margin-right,16px);
						strong{
							font-weight:600;
						}
						&:after{
							content:'';
							width:1px;
							height:12px;
							background-color:$color-light-brown;
							position:absolute;right:0;top:50%;margin-top:-6px;

						}
					}
					&:last-child{
						a{
							padding-right:0;margin-right:0;
							&:after{display:none;}
						}
					}
				}
			}
		}

		.footer-bottom{
			@include vw(padding,0 0 32px);

			.footer-site{
				@include vw(width,160px);
				.select{width:100%;}
			}

			.company-info{
				@include vw(margin-top,12px);
				p{
					color:$color-777;
					@include vw(font-size,11px);
					font-weight:400;
					@include vw(line-height,18.7px);
					@include vw(margin-top,8px);
					&:first-child{margin-top:0;}

					strong{display:inline-block;@include vw(margin-right,8px);}
					span{
						position:relative;
						display:inline-block;
						@include vw(padding-right,8px);
						@include vw(margin-right,4px);
						&:after{
							content:'';
							width:1px;
							height:12px;
							background-color:$color-777;
							position:absolute;right:0;top:50%;margin-top:-6px;
						}

						&:last-child{
							padding-right:0;margin-right:0;
							&:after{display:none;}
						}
					}
				}
			}

			.sns-list{
				@include vw(margin-top,12px);
				display:flex;
				a{
					display:inline-block;
					@include vw(margin-right,8px);
				}
			}

		}
    }


}