#wrap{

    .section-main-slogan{
		@include vw(padding-top,48px);
		@include vw(padding-bottom,24px);
		p{
			text-align:left;
			@include vw(font-size,17px);
			@include vw(line-height,34px);
			font-weight:300;
			strong{font-weight:700;}
			margin:0;color:#504B42;
			&.subject{
				font-weight:400;
				@include vw(font-size,20px);
				@include vw(line-height,34px);
				font-family:$font-notoSerifKr;
                color:$color-black;
			}
			&.desc{
                @include vw(margin-top,36px);@include vw(padding-top,24px);font-family:$font-pretendard;
                border-top:1px solid $color-black;
            }
		}
	}

    .section-main-banner{
		@include vw(padding-top,48px);
		@include vw(padding-bottom,64px);

		.main-banner-list{
			width:100%;

			a{
				display:block;color:$color-black;@include vw(font-size,18px);
				font-weight:400;
				@include vw(line-height,27px);
				@include vw(padding,16px);
				background-color:$color-light-brown2;
				@include boxSizing(border-box);
			}

			.main-banner-top{
				a{
                    //@include vw(width,335px);
					width:100%;
					background-color:#504b42;
					color:$color-light-beige;
					@include vw(height,128px);
					cursor:default;

				}
			}

			.main-banner-bottom{
				@include vw(margin-top,8px);
				display:flex;
				.banner-left{
                    //@include vw(width,163.5px);
					width:50%;
					a{
						width:100%;
						@include vw(height,232px);
					}
				}
				.banner-right{
					//@include vw(width,163.5px);
					width:50%;
					@include vw(margin-left,8px);
					a{
						@include vw(height,112px);
						&:first-child{
							background-color:$color-gray;
							color:$color-light-beige;
							@include vw(margin-bottom,8px);
						}
					}
				}
			}
		}

	}

    .main-title{
        @include vw(font-size,24px);
        font-weight:300;
        @include vw(line-height,40.8px);
		@include vw(margin-bottom,24px);
		color:$color-white;
		font-family:$font-notoSerifKr;
		strong{
			font-weight:600;
		}

		&.black{
			color:$color-black;
		}
	}

    .section-main-curriculum{
		background-color:rgba(36, 35, 33, 1);
		@include vw(padding,64px 0);

		.video-play{
		
			width:100%;
			@include vw(height,180px);


			a{
				display:block;
				width:100%;
				height:100%;
				overflow:hidden;
				img{
					transition:all 0.5s ease;
					width:100%;
					height:100%;
				}


				position:relative;
				&:after{
					content:'';
					position:absolute;@include vw(right,8px);@include vw(bottom,8px);z-index:1;
					background: url(../images/mobile/btn_play_gray.svg) no-repeat 0 0;
					@include vw(width,32px);
					@include vw(height,32px);
					background-size:cover;
				}
			}
			iframe, video{
				width:100%;
				height:100%;
			}


		}
		.video-text{
			@include vw(margin-top,16px);
			.video-desc{
				span{
					position:relative;
					display:inline-block;
					color:$color-light-gray;
					@include vw(font-size,13px);@include vw(line-height,22.1px);font-weight:400;
					@include vw(padding-right,12px);
					@include vw(margin-right,8px);
					&:after{
						content:'';
						width:1px;
						@include vw(height,12px);
						background-color:$color-light-gray;
						position:absolute;right:0;top:50%;@include vw(margin-top,-6px);

					}

					&:last-child{
						padding-right:0;
						margin-right:0;
						&:after{
							display:none;
						}
					}

					a{
						&:hover{
							border-bottom:1px solid $color-light-gray;
						}
					}
				}
			}
			.video-title{
				//@extend %textEllipsis;
				color:$color-white;@include vw(margin-top,12px);
				@include vw(font-size,18px);@include vw(line-height,27px);font-weight:500;
			}
		}

		.curriculum-main{
			@include vw(margin-bottom,48px);

			@media screen and (min-width: 600px) {
				display:flex;
				justify-content: space-between;
			}
			.video-play{
				@include vw(max-width,335px);
                width:100%;
				@include vw(height,212px);
				a{
					&:after{
						background: url(../images/mobile/btn_play_black.svg) no-repeat 0 0;
						@include vw(width,40px);
						@include vw(height,40px);
						background-size:cover;
					}
				}
			}

			.video-text{
				margin:0;
				@include vw(margin-top,16px);
				.video-desc{
					span{
						@include vw(font-size,13px);
						@include vw(line-height,22.1px);
					}
				}

				.video-title{
					@include vw(margin-top,12px);
					color:$color-light-gray;
					@include vw(font-size,13px);
					@include vw(line-height,22.3px);
					font-weight:500;
					strong{
						display:block;
						@include vw(font-size,20px);
						@include vw(line-height,30px);
						font-weight:500;
						color:$color-white;
					}
				}
			}
		}

		.curriculum-slider{
			display:flex;
			.list{
				@include vw(width,320px);
				@include vw(margin-left,16px);
				&:first-child{margin-left:0;}
				.video-play{
					width:100%;
					@include vw(height,180px);
				}
			}
		}

		.btn-curriculum{
			background-color:$color-white;
            @include vw(border-radius,100px);
			@include vw(width,217px);
			margin:0 auto;
			color:$color-black;
			@include vw(font-size,14px);
			font-weight:600;
            @include vw(line-height,21px);
			text-align:center;
            @include vw(height,45px);
			display:flex;
			justify-content: center;
			align-items: center;
            @include vw(margin-top,48px);
		}
	}

    .section-main-highlights{
		@include vw(padding,64px 0);

		.grid-list{
			max-width:375px;
			margin:0 auto;
		}
		
		.grid-item {
			@include vw(width,159px);
			@include vw(margin-bottom,15px);
			&:nth-child(1){@include vw(margin-top,48px);}
			img{width:100%;}
		}

	}

    .section-main-platform{
		background-color:rgba(237, 233, 225, 1);
		@include vw(padding,64px 0);
		.platform-list{
            .list{
                //@include vw(max-width,335px);
                width:100%;
                @include vw(margin-top,48px);
                &:first-child{margin-top:0;}
                .img-box{
                    a{
                        display:block;
                        cursor:default;
                        img{width:100%;}
                    }
                }
    
                .text-box{
                    @include vw(margin-top,16px);
                    color:$color-black;
                    .subject{font-weight:600;@include vw(font-size,20px);@include vw(line-height,30px);}
                    .desc{@include vw(margin-top,8px);font-weight:500;@include vw(font-size,14px);@include vw(line-height,23.8px);}
                }
            }
		}

	}

    .section-special-banner{
		background-color:rgba(116, 113, 109, 1);
		@include vw(padding,64px 0);
		.special-banner-box{
			.img-box{
                //@include vw(max-width,335px);
                width:100%;
				img{width:100%;}
			}
			.text-box{
				@include vw(margin-top,24px);
				.subject{
					font-weight:600;
					@include vw(font-size,20px);
					@include vw(line-height,30px);
					color:$color-white;
				}
				.desc{
					@include vw(margin-top,8px);
					color:$color-white;
					@include vw(font-size,14px);
					font-weight:400;
					@include vw(line-height,23.8px);
				}
			}
		}

	}

    .section-seasonal-banner{
		background-color:$color-dark-black;
		@include vw(padding,64px 0);
		overflow:hidden;
		.seasonal-slider{
			display:flex;
            @include vw(margin-left,20px);
			.list{
				@include vw(width,156px);
				@include vw(margin-left,8px);
				&:first-child{margin-left:0;}
				img{width:100%;}
				a{
					display:block;
					
				}
			}


		}
	}
}