#wrap {
    [class^="section-pass"] {
        word-break: keep-all;
		.wrap{max-width:600px;margin:0 auto;}
        img {
            max-width: 100%;
        }
        .text-box {
            p {
                color: #2C2923;
            }
        }
    }
    .pass-title {
        text-align: center;
        @include vw(padding, 80px 0 48px);
        p {
            font-family: $font-eskorte;
            @include vw(font-size, 16px);
            font-weight: 600;
        }
    }
    .section-pass {
        &-home {
            .wrap {
                padding: 0;
            }
        }
        &-content {
            .pass-books {
                border-bottom: 1px solid #BEBEBC;
                .book {
                    @include vw(padding, 24px);
                    border-top: 1px solid #BCBCBC;
                    &-title {
                        @include vw(margin, 32px 0 24px);
                        p {
                            @include vw(font-size, 24px);
                            font-weight: 800;
                            line-height: 1.5;
                            color: #2C2923;
                            @include vw(margin-bottom, 8px);
                        }
                        span {
                            @include vw(font-size, 18px);
                            font-weight: 700;
                            color: #BEBEBC;
                        }
                    }
                    &-text {
                        @include vw(margin-bottom, 8px);
                        strong {
                            display: block;
                            @include vw(font-size, 20px);
                            line-height: 1.5;
                            font-weight: 700;
                            color: #0084FF;
                            @include vw(margin-bottom, 32px);
                        }
                        b {
                            @include vw(font-size, 20px);
                            font-weight: 700;
                        }
                    }
                    &-period {
                        p {
                            @include vw(font-size, 20px);
                            font-weight: 600;
                            color: #BEBEBC;
                            span {
                                font-weight: 700;
                                color: #FF5E5E;
                                @include vw(margin-left, 16px);
                            }
                        }
                    }
                }
            }
            .pass-small {
                text-align: center;
                @include vw(padding, 80px 0);
                ul {
                    @include vw(padding, 20px);
                    li {
                        @include vw(margin-bottom, 20px);
                        @include vw(padding, 32px 45px);
                        background: #F6F6F6;
                        &:last-child {
                            margin-bottom: 0;
                        }
                        .img-box {
                            text-align: center;
                            @include vw(height, 145px);
                            img {height: 100%;}
                        }
                        .small-title {
                            color: #2C2923;
                            @include vw(margin, 24px 0 32px);
                            span {
                                @include vw(font-size, 20px);
                                font-weight: 500;
                            }
                            p {
                                @include vw(font-size, 24px);
                                line-height: 1.5;
                                font-weight: 700;
                                color: #2C2923;
                                @include vw(margin-top, 8px);
                            }
                        }
                        .small-text {
                            @include vw(font-size, 16px);
                            strong {
                                color: #0084FF;
                                line-height: 1.75;
                                font-weight: 800;
                            }
                        }
                        .small-period {
                            @include vw(margin-top, 24px);
                            p {
                                @include vw(font-size, 20px);
                                font-weight: 600;
                                color: #2C2923;
                            }
                        }
                    }
                }
            }
            .pass-exam {
                text-align: center;
                @include vw(padding, 40px 24px);
                background: #302F4C;
                .img-box {
                    @include vw(height, 200px);
                    text-align: center;
                    img { height: 100%; }
                }
                .text-box {
                    p {
                        @include vw(font-size, 22px);
                        font-weight: 800;
                        color: #FFFFFC;
                        line-height: 1.8;
                        @include vw(margin, 32px 0);
                        letter-spacing: -0.03em
                    }
                    strong {
                        @include vw(font-size, 20px);
                        line-height: 1.7;
                        font-weight: 700;
                        color: #0084FF;
                    }
                    span {
                        display: block;
                        text-align: center;
                        @include vw(font-size, 20px);
                        font-weight: 600;
                        color: #BEBEBC;
                        @include vw(margin-top, 32px);
                        em {
                            font-weight: 700;
                            color: #FF5E5E;
                            @include vw(margin-left, 16px);
                        }
                    }
                }
            }
        }

        &-schedule {
            @include vw(margin-top, 80px);
			@include vw(padding-bottom, 32px);
            background: #F2EFE7;
            .schedule-calender {
                .list {
                    @include vw(margin-bottom, 20px);
                    &:last-child {
                        margin-bottom: 0;
                    }
                    &.archive {
                        text-align: center;
                        .schedule-text {
                            border-width: 1px;
                            p {
                                @include vw(font-size, 20px);
                                line-height: 2;
                                font-weight: 800;
                            }
                        }
                    }
                }
            }
            .schedule-title {
                text-align: left;
                @include vw(padding, 12px 16px);
                background: #202020;
                p {
                    @include vw(font-size, 16px);
                    font-weight: 700;
                    color: #FFFFFC;
                }
            }
            .schedule-text {
                @include vw(padding, 12px 16px);
                border: solid #202020;
                border-width: 0 1px 1px 1px;
                ul {
                    li {
                        position: relative;
                        display: flex;
                        align-content: center;
                        justify-content: space-between;
                        @include vw(font-size, 20px);
                        line-height: 2;
                        font-weight: 500;
                        span {
                            color: #0084FF;
                        }
                    }
                }
                .icon {
                    @include vw(width, 24px);
                    margin: 0 auto;
                    @include vw(margin-bottom, 8px);
                }
            }
            .icon-box {
                @include vw(width, 80px);
                @include vw(margin, 48px auto);
            }

            .schedule-list {
                .list {
                    @include vw(padding, 24px);
                    background: #FBFAF6;
                    &:last-child {
                        margin-bottom: 0
                    }
                    &-wrap {
                        position: relative;
                        @include vw(margin-bottom, 48px);
                    }
                    &-title {
                        @include vw(margin, 24px 0);
                        span {
                            @include vw(font-size, 14px);
                            color: #B5AD98;
                        }
                        p {
                            @include vw(font-size, 28px);
                            font-weight: 700;
                            color: #2C2923;
                            @include vw(margin-top, 8px);
                        }
                    }
                    &-text {
                        strong {
                            display: block;
                            @include vw(font-size, 20px);
                            line-height: 1.4;
                            font-weight: 800;
                            color: #0084FF;
                            @include vw(margin-bottom, 16px);
                        }
                        ul {
                            li {
                                position: relative;
                                @include vw(font-size, 16px);
                                font-weight: 500;
                                @include vw(margin-bottom, 16px);
                                @include vw(padding-left, 12px);
                                &:before {
                                    content: "";
                                    position: absolute;
                                    left: 0;
                                    @include vw(top, 7px);
                                    @include vw(width, 5px);
                                    @include vw(height, 5px);
                                    border-radius: 50%;
                                    background: #2C2923;
                                }
                                &:last-child {
                                    margin-bottom: 0;
                                }
                            }
                        }

                        .slider {
                            @include vw(margin-top, 24px);
                            .slick-slide {
                                background: #EFEFEF;
                            }
                            .slick-arrow {
                                display: none !important
                            }
                            .slick-dots {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                @include vw(margin-top, 8px);
                                li {
                                    @include vw(width, 8px);
                                    @include vw(height, 8px);
                                    margin: 0;
                                    padding: 0;
                                    @include vw(margin, 0 4px);
                                    border-radius: 50%;
                                    overflow: hidden;
                                    background: #DFDFDF;
                                    text-indent: -99em;
                                    &.slick-active {
                                        background: #202020;
                                    }
                                    &:before {
                                        display: none
                                    }
                                }
                            }
                        }
                    }
                    &-curriculum {
                        @include vw(margin-top, 24px);
                        ul {
                            li {
                                @include vw(margin-bottom, 8px);
                                a {
                                    display: flex;
                                    @include vw(padding, 8px);
                                    background: #fff;
                                    .img-box {
                                        @include vw(width, 60px);
                                        @include vw(margin-right, 16px);
                                    }
                                }
                                .text-box {
                                    p {
                                        @include vw(font-size, 12px);
                                        line-height: 1.6;
                                        font-weight: 900;
                                        color: #2C2923;
                                        @include vw(margin-bottom, 8px);
                                    }
                                    span {
                                        @include vw(font-size, 12px);
                                        font-weight: 400;
                                        color: #777;
                                    }
                                }
                            }
                        }
                    }
                }
                .desc {
                    text-align: right;
                    @include vw(font-size, 12px);
                    font-weight: 400;
                    color: #BEBEBC;
                    @include vw(margin-top, 8px);
                }
            }
        }

        &-apply {
            @include vw(padding-top, 80px);
            .list {
                @include vw(margin-bottom, 32px);
                &:last-child {
                    margin-bottom: 0;
                }
                a {
                    display: block;
                    @include vw(padding, 24px);
                    background: #566143
                }
                .apply {
                    &-title {
                        @include vw(font-size, 20px);
                        font-weight: 400;
                        color: #fff;;
                        @include arrow(right, 12px, 12px, 1px, #fff);
                        width: 100%;
                        &:before {
                            right: 0
                        }
                    }
                    &-benefit {
                        @include vw(margin-top, 24px);
                        @include vw(padding-top, 24px);
                        &-label {
                            p {
                                @include vw(font-size, 20px);
                                font-weight: 700;
                                color: #F2EFE7;
                            }
                        }
                        &-list {
                            @include vw(margin-top, 12px);
                            ul {
                                li {
                                    position: relative;
                                    @include vw(font-size, 16px);
                                    font-weight: 500;
                                    line-height: 2;
                                    color: #F2EFE7;
                                    @include vw(padding-left, 20px);
                                    &:before {
                                        content: "";
                                        position: absolute;
                                        @include vw(top, 12px);
                                        @include vw(left, 4px);
                                        @include vw(width, 5px);
                                        @include vw(height, 5px);
                                        border-radius: 50%;
                                        background: #F2EFE7;
                                    }
                                    &.best {
                                        color: #DABF99;
                                        &:before {
                                            background: #DABF99;
                                        }
                                        + li {
                                            @include vw(margin-top, 12px);
                                        }
                                    }
                                }
                            }

                            .desc {
                                @include vw(margin-top, 32px);
                                ul {
                                    li {
                                        @include vw(padding-left, 20px);
                                        &::before {
                                            content: "※";
                                            @include vw(top, 0);
                                            left: 0;;
                                            width: auto;
                                            height: auto;
                                            background: transparent;
                                        }
                                    }
                                }
                            }
                        }

                    }
                }
                &.point {
                    a {
                        background: #4A3952;
                    }
                    .apply {
                        &-title {
                            font-weight: 700;
                            color: #DABF99;
                        }
                        &-benefit {
                            border-top: 1px solid #8E7899;
                        }
                    }
                }
            }

            .action {
                a {
                    display: block;
                    width: 100%;
                    @include vw(font-size, 14px);
                    font-weight: 600;
                    text-align: center;
                    @include vw(padding, 12px 0);
                    border: 1px soliD #2C2923;
                }
            }
        }
    }
}