#wrap{

	.promotion{
		.wrap{
			max-width:600px;
			//max-width:375px;
			margin:0 auto;
		}
	}
	.section-promotion-title{
		@include vw(padding-top,60px);
		@include vw(padding-bottom,40px);
		text-align:center;
		.head-copy{
			color:$color-gray;
			@include vw(font-size,16px);
			font-weight:600;
			line-height:1.7;
			@include vw(margin-bottom,18px);
		}
		.main-copy{
			color:$color-black;
			@include vw(font-size,27px);
			font-family:$font-notoSerifKr;
			font-weight:200;
			line-height:1.5;
		}
	}

	.section-promotion-profile{
		@include vw(padding-bottom,90px);
		.img-box{
			img{width:100%;}
			+ .img-box {
				@include vw(margin-top, 24px);
			}
		}

		.profile-box{
			@include vw(padding-top,40px);

			.text-box{
				@include vw(font-size,16px);
				line-height:2;
				color:$color-black;
				font-weight:400;
				letter-spacing:-1px;
				font-family:$font-notoSerifKr;
			}

			.notice{color:#888;@include vw(font-size,10px);font-family: $font-pretendard;	letter-spacing:0px;}
			.menu-box{
				@include vw(margin-top,40px);
				display:flex;
				justify-content: space-between;
				.menu-title{
					font-weight:600;
					line-height:1.7;
					@include vw(font-size,16px);
				}
				.menu-list{
					@include vw(width,164px);
					border-top:1px solid $color-light-brown;
					li{
						border-bottom:1px solid $color-light-brown;
						@include vw(font-size,14px);
						line-height:1.7;
						color:$color-black;
						font-weight:400;
						@include vw(padding,10px 0);
					}
				}
			}
		}
	}

	.section-promotion-curriculum{
		.curriculum-list{
			&:first-child{
				border-top:1px solid #DCDCDB;
				@include vw(padding-top,40px);
			}
			@include vw(padding-bottom,80px);
			&.pb-0 {
				padding-bottom: 0;
			}
			.curriculum-title{
				color:$color-black;
				@include vw(font-size,20px);
				font-weight:600;
				line-height:1.7;
			}
			.curriculum-content{

				.img-box{
					img{width:100%;}
				}

				.list{
					li{
						color:$color-black;
						@include vw(font-size,16px);
						font-weight:400;
						line-height:1.7;
					}
				}
				p{
					color:$color-black;
					@include vw(font-size,16px);
					font-weight:400;
					line-height:1.7;
					@include vw(margin-bottom,24px);
					strong{
						font-weight:600;
					}
					.underline{
						//border-bottom:2px solid $color-black;
						font-weight:600;
						text-underline-offset: 3px;
						text-decoration: underline solid 1px;
					}
				}

				.badge{
					display:inline-block;
					@include vw(margin-bottom,22px);
					@include vw(font-size,14px);
					@include vw(height, 24px);
					@include vw(padding,0 6px);
					@include vw(line-height,24px);
				}

				.video-box{
					position:relative;
					width:100%;
					//@include vw(height,212px);
					padding-bottom: 56.25%; 
					height: 0;
					overflow:hidden;
					a{
						display:block;
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						object-fit: inherit;

						img{width:100%;}
						&:after{
							content:'';
							position:absolute;left:0;right:0;top:0;bottom:0;width:100%;height:100%;z-index:1;
							background:rgba(0,0,0,0.4) url(../images/promotion/btn_play.svg) no-repeat 50% 50%;
							@include vw(background-size,40px 40px);
						}

						.video-text{
							position:absolute;left:0;@include vw(bottom,22px);
							width:100%;
							text-align:center;
							color:#fff;
							@include vw(font-size,16px);
							line-height:1.7;
							font-weight:500;
						}
					}
				}

				.table-box{
					@include vw(margin-top,24px);
					table{
						width:100%;
						thead{
							th{
								background-color:$color-light-brown;
								border-left:1px solid $color-light-beige;
								color:$color-black;
								font-weight:600;
								@include vw(font-size,13px);
								@include vw(padding,8px 0);
								vertical-align:center;
							}
						}

						tbody{
							th,td{text-align:center;@include vw(padding,14px 0);vertical-align:center;}
							th{
								border-bottom:1px solid $color-light-brown;
								color:$color-black;
								font-weight:600;
								@include vw(font-size,13px);
								background-color:$color-light-brown2;
							}
							td{
								border-left:1px solid $color-light-brown;
								border-bottom:1px solid $color-light-brown;
								color:$color-black;
								@include vw(font-size,13px);
								font-weight:600;
								
								&.empty{
									background-color:$color-light-beige;
								}
							}
						}
					}
				}
			}

			.history {
				text-align: center;
				@include vw(padding-top, 16px);
				@include vw(padding-bottom, 40px);
				p {
					margin-bottom: 0
				}
				
				ul {
					li {
						@include vw(margin-bottom, 36px);
						&:last-child {
							margin-bottom: 0
						}
					}
				}
				&-text {
					p {
						@include vw(font-size, 16px);
						@include vw(margin-bottom, 8px);
					}
				}
				&-logo {
					@include vw(width, 64px);
					margin: 0 auto;
					img {
						width: 100%;
					}
				}
				&-content {
					span {
						@include vw(font-size, 16px);
					}
					p {
						font-family: $font-notoSerifKr;
						@include vw(font-size, 24px);
						font-weight: 600
					}
					small {
						@include vw(font-size, 14px);
					}
				}
			}

			.number-list {
				.list {
					@include vw(padding, 24px 0 0);
					> ul {

						> li {
							position: relative;
							@include vw(font-size, 16px);
							font-weight: 700;
							line-height: 1.5;
							@include vw(padding, 24px 20px);
							border-bottom: 1px solid #E4DED3;
							&:first-child {
								padding-top: 0;
							}
							&:last-child {
								border-bottom: none;
								padding-bottom: 0;
							}
							span {
								position: absolute;
								left: 0
							}
						}
						.sub-list {
							@include vw(margin-top, 12px);
							ul {
								list-style: disc;
								li {
									font-weight: 400
								}
							}
						}
					}
				}
			}
		}
		
	}


	.section-promotion-story{
		.wrap{
			@include vw(padding-bottom,30px);

		}
	
		.story-box{
			@include vw(padding-top,40px);
			border-top:1px solid #DCDCDB;
			.text-box{
				@include vw(font-size,16px);
				line-height:1.8;
				color:$color-black;
				font-weight:400;
				letter-spacing:-1px;
			}

		}
	
	}


	.section-promotion-banner{
		img{width:100%;}
	}

	.section-promotion-lecture{
		@include vw(padding-top,80px);
		.action{
			@include vw(margin-top,20px);
			.btn{
				width:50%;
				@include vw(margin-left,8px);
				&:first-child{margin-left:0;}
			}
		}
	}
}